@using MoldManager.WebUI.Models.Helpers;
@{
    TaskTypeModelHelper _taskType = new TaskTypeModelHelper();
    int type = Convert.ToInt32(ViewBag.TaskType);
    int DeptID = 0;
    int PosID = 0;
    try
    {
        DeptID = Convert.ToInt32(Request.Cookies["User"]["Department"]);
    }
    catch
    {

    }
    try
    {
        PosID = Convert.ToInt32(Request.Cookies["User"]["Position"]);
    }
    catch
    {

    }
    //加工部门ID集合 —— 5: MG;6: NC;7: CNC;8: EDM;9: WEDM
    List<int> _wsDep = new List<int> { 5, 6, 7, 8, 9 };
}
<script src="~/Scripts/Task.js"></script>
<script src="~/Scripts/jquery.contextmenu.r2.packed.js"></script>

<input type="hidden" id="CurrentTaskType" value="@ViewBag.TaskType" />
<div style="margin-top:60px">
    @if (ViewBag.State == 0)
    {
        <h2>@ViewBag.Title</h2>
    }
    else
    {
        <h2>@ViewBag.Title 历史</h2>
    }

    <div class="col-sm-2">
        <button class="btn btn-primary col-sm-12" id="RefreshMold">刷新模号列表</button>
        <input type="text" id="Keyword" class="form-control" placeholder="模具号关键字" />
        <input type="hidden" id="FMoldNumber" />
        <input type="hidden" id="FTaskType" value="@ViewBag.TaskType" />
        <input type="hidden" id="FState" value="@ViewBag.State" />
        <input type="hidden" id="FCAM" value="0" />
        <select class="form-control" id="MoldSelect" size="3"></select>
    </div>
    <div class="col-sm-10">
        <div id="Toolbar" style="margin-left:14px">
            <ul class="nav nav-pills">
                <li class="dropdown all-camera-dropdown">
                    <button class="dropdown-toggle btn btn-info" data-toggle="dropdown" href="#">
                        @ViewBag.Title
                        <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu">
                        @for (int i = 1; i <= 6; i++)
                        {
                            if (i != 5)
                            {
                                <li role="presentation">
                                    <a class="TaskTypeLink" href="/Task/MachineTaskList?TaskType=@i&State=@ViewBag.State&MoldNumber=@ViewBag.MoldNumber">
                                        @_taskType.GetTypeName(i)
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </li>

                <li class="dropdown all-camera-dropdown">
                    <button class="dropdown-toggle btn btn-info" data-toggle="dropdown" href="#">
                        @if (ViewBag.State == 0)
                        {
                            @:当前任务
                        }
                        else
                        {
                            @:历史任务
                        }

                        <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu">
                        <li role="presentation">
                            <a class="TaskTypeLink"
                               href="/Task/MachineTaskList?TaskType=@ViewBag.TaskType&State=0&MoldNumber=@ViewBag.MoldNumber">当前任务</a>
                        </li>
                        <li role="presentation">
                            <a class="TaskTypeLink"
                               href="/Task/MachineTaskList?TaskType=@ViewBag.TaskType&State=1&MoldNumber=@ViewBag.MoldNumber">历史任务</a>
                        </li>
                    </ul>
                </li>
                @if (ViewBag.State == 0)
                {
                    if (_wsDep.Contains(DeptID))
                    {
                        <li>
                            <button class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#">设置优先级</button>
                            <ul class="dropdown-menu">
                                <li role="presentation"><a href="#" class="priority" id="1">1</a></li>
                                <li role="presentation"><a href="#" class="priority" id="2">2</a></li>
                                <li role="presentation"><a href="#" class="priority" id="3">3</a></li>
                                <li role="presentation"><a href="#" class="priority" id="4">4</a></li>
                                <li role="presentation"><a href="#" class="priority" id="5">5</a></li>
                            </ul>
                        </li>
                        @*<li><button class="btn btn-primary" id="AddToQueue">设置加工开始</button></li>*@
                        switch (type)
                        {
                            case 1://电极任务
                                <li><button class="btn btn-primary" id="CNCItemList">电极信息</button></li>
                                <li><button class="btn btn-primary" id="AddToQueue">电极扫描</button></li>
                                <li><button class="btn btn-primary" id="PointCheck">任务点检</button></li>
                                break;
                            case 2://EDM任务                               
                                <li><button class="btn btn-primary" id="AddToQueue">设置加工开始</button></li>
                                <li><button class="btn btn-primary" id="EDMProcessList">加工选中任务</button></li>
                                <li><button class="btn btn-primary" id="FinishTask">设置加工结束</button></li>
                                <li><button class="btn btn-primary" id="EleQCResult">电极确认</button></li>
                                <li><button class="btn btn-primary" id="EleInStock">电极库存</button></li>
                                break;
                            case 4://铣铁任务
                                <li><button class="btn btn-primary" id="AddToQueue">开始加工</button></li>
                                <li><button class="btn btn-primary" id="PointCheck">任务点检</button></li>
                                break;
                            default:
                                <li><button class="btn btn-primary" id="AddToQueue">设置加工开始</button></li>
                                <li><button class="btn btn-primary" id="FinishTask">设置加工结束</button></li>
                                break;
                        }
                        @*只有主管以上级别可以设置加工设备信息*@
                        if ((PosID >= 2) && (type == 1 || type == 4))
                        {
                            <li><button class="btn btn-primary" id="MachineSetting">加工设备管理</button></li>
                        }
                        if ((DeptID == 7) && (type == 1 || type == 4))
                        {
                            <li><button class="btn btn-primary" id="AddCNCTask">新建CNC加工任务</button></li>
                        }
                        else if (DeptID == 8 && type == 2)
                        {
                            <li>
                                <button class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#">新建任务</button>
                                <ul class="dropdown-menu">
                                    <li role="presentation"><a href="/Task/AddEDMTask">新建EDM加工任务</a></li>
                                    <li role="presentation"><a href="/Task/AddCNCTask">新建CNC加工任务</a></li>
                                </ul>
                            </li>
                        }
                        <li><button class="btn btn-primary" id="OutSource">任务外发</button></li>
                        <li><button class="btn btn-primary" id="CancelOutSource">取消外发</button></li>
                    }
                }
                else if (ViewBag.State == 1)
                {
                    <li>
                        <input type="text" class="col-sm-1 form-control" id="TaskKeyword" placeholder="任务名关键字" />
                    </li>
                    <li><button class="btn btn-primary" id="QueryTask">查询</button></li>
                }
            </ul>
        </div>
        <table id="TaskGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

@*CNC删除备注输入对话框*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="DeleteByCNC" tabindex="-1" role="dialog" aria-labelledby="DeleteByCNCLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="DeleteByCNCLabel">加工任务CNC删除</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td class="col-sm-2"><label>任务删除备注</label></td>
                    </tr>
                    <tr>

                        <td class="col-sm-6">
                            <textarea id="Memo" class="form-control col-sm-6" style="resize:none" rows="5"></textarea>
                            <input type="hidden" id="TaskIDs" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="ConfirmDeleteTask" class="btn btn-primary">删除任务</button>
            </div>
        </div>
    </div>
</div>

@*EDM任务结束对话框*@
@if (ViewBag.TaskType == 2)
{
  <div class="modal" data-backdrop="static" data-keyboard="false" id="FinishEDMDialog" tabindex="-1" role="dialog" aria-labelledby="FinishEDMLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title" id="FinishEDMLabel">EDM任务结束</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="EDMTaskID" />
                    <table>
                        <tr>
                            <td class="col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-body inPageList" id="ELEList" style="height:200px;overflow: scroll;">
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-body inPageList" id="ItemList" style="height:200px;overflow: scroll">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">

                                <div class="col-sm-4">
                                    <label>下一部门</label>
                                    <select id="NextDepartment" class="form-control"></select>
                                </div>

                                <div class="col-sm-4">
                                    <label>备注</label>
                                    <select id="FinishMemo" class="form-control">
                                        <option>正常加工</option>
                                        <option>修烧焊</option>
                                        <option>返工</option>
                                        <option>改模</option>
                                    </select>
                                </div>



                                <div class="col-sm-4">
                                    <label>EDM操作人员</label>
                                    <select id="Operator" class="form-control"></select>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="ConfirmFinishEDM" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
}
@*右键菜单*@
@if (ViewBag.State == 0)
{
    <div class="contextMenu dropdown" id="MachineTaskContextMenu" style="display:none">
         <ul style="width:200px">
             @if (_wsDep.Contains(DeptID))
             {
                <li id="SetAccept">
                    <span class="ui-icon ui-icon-pencil" style="float:left"><img src="~/Images/EditProject.png" /></span>
                    <span style="font-size:12px; font-family:Verdana">设置收到标记</span>
                </li>
                <li id="PauseTask">
                    <span class="ui-icon ui-icon-pencil" style="float:left"><img src="~/Images/EditProject.png" /></span>
                    <span style="font-size:12px; font-family:Verdana">暂停/继续任务</span>
                </li>
             }
             @if (ViewBag.TaskType == 1)
             {
                 if (DeptID == 7)
                 {
                     <li id="EditCNCTask">
                         <span class="ui-icon ui-icon-pencil" style="float:left"><img src="~/Images/EditProject.png" /></span>
                         <span style="font-size:12px; font-family:Verdana">任务信息编辑</span>
                     </li>
                     <li id="DeleteTask">
                         <span class="ui-icon ui-icon-pencil" style="float:left"><img src="~/Images/EditProject.png" /></span>
                         <span style="font-size:12px; font-family:Verdana">CNC删除</span>
                     </li>
                 }
             }
             @if (ViewBag.TaskType == 2)
             {
                 if (DeptID == 8)
                 {
                     <li id="DeleteEDMTask">
                         <span class="ui-icon ui-icon-pencil" style="float:left"><img src="~/Images/Delete.png" /></span>
                         <span style="font-size:12px; font-family:Verdana">EDM删除</span>
                     </li>
                     <li id="CheckEleStatus">
                         <span class="ui-icon ui-icon-pencil" style="float:left"><img src="~/Images/Document.png" /></span>
                         <span style="font-size:12px; font-family:Verdana">电极状态</span>
                     </li>
                 }
             }
             @if (ViewBag.TaskType == 4)
             {
                 if (DeptID == 7)
                 {
                     <li id="DeleteTask">
                         <span class="ui-icon ui-icon-pencil" style="float:left"><img src="~/Images/EditProject.png" /></span>
                         <span style="font-size:12px; font-family:Verdana">CNC删除</span>
                     </li>
                 }
             }             
         </ul>
     </div>
}   
    <input type="hidden" id="MoldNumber" value="@ViewBag.MoldNumber" />
    <script src="~/Scripts/jquery.ba-throttle-debounce.js"></script>


<div class="modal fade" id="EleStateModal" tabindex="-1" role="dialog" aria-labelledby="EleStateModal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="EleStateModal-label">电极状态</h4>
                </div>
                <div class="modal-body">
                    <select id="EleState" class="form-control" size="20"></select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

@*设置任务结束*@
<div class="modal fade" id="SetupWFTaskHourModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title">设置任务结束</h4>
            </div>
            <div class="modal-body">
                @*设置任务结束 右键菜单*@
                <div class="contextMenu dropdown" id="SetupTHFinishContextMenu" style="display:inline;">
                    <ul style="width:200px;">
                        <li id="LockTaskHour">
                            <span class="ui-icon ui-icon-pencil" style="float:left"><img src="~/Images/EditProject.png" /></span>
                            <span style="font-size:12px; font-family:Verdana">锁定任务工时</span>
                        </li>
                    </ul>
                </div>
                <table id="tb_SetupWFTaskHour"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modal_btn_close_FinishTask">返回</button>
                @*<button type="button" class="btn btn-primary" id="modal_btn_FinishTask"><span class="glyphicon glyphicon glyphicon-sign"></span> 结束任务</button>*@
            </div>
        </div>
    </div>
</div>

@*设置任务开始*@
<div class="modal fade" id="SetTaskStartModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">设置任务开始</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td><label>选择机器：</label></td>
                        <td><input id="modal_sel_machinesinfo" list="MInfoCodeDL" type="text" name="MInfoCode" class="form-control" style="width:180px;" />
                            <datalist id="MInfoCodeDL"></datalist></td>
                        <td><label>选择人员：</label></td>
                        <td><select id="CheckUser" class="form-control" style="width:100px;"></select></td>
                    </tr>
                </table>               
                <table id="tb_TaskStart"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span> 关闭</button>
                <button type="button" id="modal_btn_StartTask" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> 提交</button>
                <button type="button" id="modal_btn_wfTask" class="btn btn-primary" style="display:none;"><span class="glyphicon glyphicon-save"></span> 确认外发</button>
            </div>
        </div>
    </div>
</div>

@*设置任务阶段工时*@
<div class="modal fade" id="SetupTaskPeriodHourModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">设置阶段工时</h4>
            </div>
            <div class="modal-body">
                <table id="formTable_tph">
                    <tr>
                        <td><label>总工时：</label></td>
                        <td><input id="modalinput_TotalTime" type="number" readonly/></td>
                    </tr>
                    <tr>
                        <td><label>未分配工时：</label></td>
                        <td><input id="modalinput_AssignedTime" type="number" readonly /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon glyphicon-off"></span>关闭</button>
                <button type="button" class="btn btn-primary" id="modal_btn_SubmitTPHour" disabled="disabled"><span class="glyphicon glyphicon glyphicon-save"></span>提交</button>
            </div>
        </div>
    </div>
</div>

<script>
     $(document).ready(function () {
         $("#target").val("/Task/MachineTaskList?State=@ViewBag.State&TaskType=@ViewBag.TaskType&MoldNumber=")

         $("#Keyword").on("keyup", function(){
             $.debounce(100,LoadMoldList(0, @ViewBag.State, @ViewBag.TaskType, $("#Keyword").val()))
             //delay_till_last("MachineTask", LoadMoldList(0, @ViewBag.State, @ViewBag.TaskType, $("#Keyword").val()), 500);
         })
         //LoadTaskMInfoList($('#FTaskType').val(),'false');

         LoadMoldList(0, @ViewBag.State, @ViewBag.TaskType, "", "@ViewBag.MoldNumber");

         //Create the task grid
         //任务信息表格初始化
         TaskList("@ViewBag.MoldNumber", @ViewBag.TaskType, @ViewBag.State);
         //任务开始表格初始化
         TaskStartGrid('');
         //外发任务结束表格初始化
         WFTaskFinishGrid('');
         //Hide the not wanted columns
         $("#TaskGrid").setGridParam().showHideCol("Quantity");
         $("#TaskGrid").setGridParam().showHideCol("StateMemo");
         $("#TaskGrid").setGridParam().showHideCol("State");
         $("#TaskGrid").setGridParam().showHideCol("CreateTime");
         $("#TaskGrid").setGridParam().showHideCol("PlanTime");
         $("#TaskGrid").setGridParam().showHideCol("AcceptTime");
         $("#TaskGrid").setGridParam().showHideCol("StartTime");
         $("#TaskGrid").setGridWidth(document.body.clientWidth * 0.8);
         switch(@ViewBag.TaskType){
                case 1:
                    TaskListCNC()
                    break;
                case 2:
                    TaskListEDM()
                    break;
                case 3:
                    TaskListWEDM();
                    break;
                case 4:
                    TaskListMill();
                    break;
                case 6:
                    TaskListGrind();
            }
         //TODO: 加工(历史)界面显示隐藏列
         if (@ViewBag.State==1){
             $("#TaskGrid").setGridParam().showHideCol("ActualTime");
             $("#TaskGrid").setGridParam().showHideCol("Operater");
             $("#TaskGrid").setGridParam().showHideCol("Machine");
             $("#TaskGrid").setGridParam().showHideCol("FinishTime");
             if ((@ViewBag.TaskType==1)||(@ViewBag.TaskType==2)){
                    $("#TaskGrid").setGridParam().showHideCol("Surface");
                    $("#TaskGrid").setGridParam().showHideCol("Obit");
                    $("#TaskGrid").setGridParam().showHideCol("ELEPos");
                }
             else if(@ViewBag.TaskType==3){
                    $("#TaskGrid").setGridParam().showHideCol("Preciston");
                    $("#TaskGrid").setGridParam().showHideCol("CADPartName");
                }
             else if(@ViewBag.TaskType==6){
                    $("#TaskGrid").setGridParam().showHideCol("CADPartName");
                }
         }
         //当前
         else{
             $("#TaskGrid").setGridParam().showHideCol("Time");
             $("#TaskGrid").setGridParam().showHideCol("Priority");
         }

         $("#TaskGrid").setGridWidth(document.body.clientWidth * 0.8);

         $("#SelMold").on("click", function(){
             ShowMoldSelect();
         })

         ///Task/MachineTaskList?TaskType=1&MoldNumber=&State=0
         $("#MoldSelect").on("change", function(){
             @*location.href="/Task/MachineTaskList?TaskType=@ViewBag.TaskType&MoldNumber="+$("#MoldSelect option:selected").val()+"&State=@ViewBag.State";*@
             if ($("#MoldSelect").val()!=null){
                 $("#FMoldNumber").val($("#MoldSelect").val());
                 RefreshTaskGrid("");
                 var _links = $(".TaskTypeLink")

                 for (i=0;i<_links.length;i++){
                     _links[i].href=AttachMoldNumber(_links[i].href, $("#MoldSelect").val());
                 }
             }
         })

         $("#CheckEleStatus").on('click', function(){
             ShowEleStatus();
         })

         //设置加工开始
         $('#modal_btn_StartTask').on('click',function(){
                
                var itemData='';
                itemData=compactTSObj(1,'_setupTS');
                if(itemData==''){
                    return false;
                }                
                $.ajax({
                    url: "/Task/Service_StartTask",
                    data:itemData,
                    type:'post',
                    dataType: "html",
                    success: function (msg) {
                        if (msg == "") {
                            $('#SetTaskStartModal').modal('hide');
                            alert("加工任务开始");
                            RefreshTaskGrid("");
                        } else {
                            alert(msg);
                        }
                    }
                })
         })
         //选择人员
         $('#CheckUser').on('change',function(){
             var _userid=$('#CheckUser option:selected').val();
             var _username = $('#CheckUser option:selected').text();

             var selrows = $("#tb_TaskStart").jqGrid('getGridParam', 'selarrrow');
             if (selrows.length==0){
                 selrows=  $('#tb_TaskStart').getDataIDs();
             }
             for (i=0;i<selrows.length;i++){
                 $("#tb_TaskStart").setCell(selrows[i], "UserName", _username);
                 $("#tb_TaskStart").setCell(selrows[i], "UserID", _userid);
             }
         })
         //选择加工开始机器
         $('#modal_sel_machinesinfo').on('change',function(){
                var val = $('#modal_sel_machinesinfo').val();
                val = val.split(',');

                var selrows = $("#tb_TaskStart").jqGrid('getGridParam', 'selarrrow');
                if (selrows.length==0){
                    selrows=  $('#tb_TaskStart').getDataIDs();
                }
                var mInfocode=val[1];
                var mInfoname=val[0];
                for (i=0;i<selrows.length;i++){
                    $("#tb_TaskStart").setCell(selrows[i], "MachinesName", mInfoname);
                    $("#tb_TaskStart").setCell(selrows[i], "MachinesCode", mInfocode);
                }
         })
         //设置加工结束
         $("#FinishTask").on("click", function () { 
             //var selr = $('#TaskGrid').jqGrid('getGridParam', 'selarrrow');
             //var _ids = "";//正在加工 任务
             //var _wfids='';//外发 任务
             //var _ycids='';//其它状态 任务
             //for (var i = 0; i < selr.length; i++) {
             //    var _state=$("#TaskGrid").getCell(selr[i], 'State');
             //    if(_state=='正在加工'){
             //        _ids=addColumnlists(_ids,'TaskGrid',selr[i],'ID');
             //    }
             //    else if(_state=='外发'){
             //        _wfids=addColumnlists(_wfids,'TaskGrid',selr[i],'ID');
             //    }
             //    else{
             //        _ycids=addColumnlists(_ycids,'TaskGrid',selr[i],'TaskName');
             //    }
             //}
             //if(_ycids==''){    
             var _jgIDs=GetMultiSelectedIDs('TaskGrid');
             if(_jgIDs==''){
                 alert('请选择需要结束的任务！');
             }
             else{
                 $('#tb_SetupWFTaskHour').jqGrid("clearGridData");
                 $("#tb_SetupWFTaskHour").setGridParam().showHideCol("MachinesName");
                 $('#SetupWFTaskHourModal').modal('show');
                 var _url = '/Task/Service_Json_GetTaskByIDs?TaskIDs=' + _jgIDs + '&type=' + 2;
                 $("#tb_SetupWFTaskHour").jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
             }                
             ////正常加工任务结束
             //if(_ids!=''&& _wfids=='')
             //    FinishTask(_ids);                    
             ////外发任务结束                     
             //if(_wfids!=''){
             //    //正常任务结束
             //    if(_ids!='')
             //        $.get("/Task/SetTaskFinish?TaskIDs=" + _ids);                         
             //    //外发任务列表
             //    //clear table data
             //    $('#tb_SetupWFTaskHour').jqGrid("clearGridData");
             //    $('#SetupWFTaskHourModal').modal('show');
             //    var _url = '/Task/Service_Json_GetTaskByIDs?TaskIDs=' + _wfids + '&type=' + 2;
             //    $("#tb_SetupWFTaskHour").jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
             //}                     
             //}
             //else
             //    alert('以下任务['+_ycids+']尚未开始加工，不允许结束！');                
         })
         //结束任务
         $('#modal_btn_FinishTask').on('click',function(){
             ////获取第2行(除表头)第2个单元格(第一个默认隐藏)
             //var firsttdobj= $('#tb_SetupWFTaskHour td:eq(8)');
             ////模拟单元格点击事件
             //firsttdobj.trigger("click");

             //var _rows = $('#tb_SetupWFTaskHour').jqGrid('getRowData');
             //var msg='';
             //var _taskids=GetAllValues('tb_SetupWFTaskHour','ID');
             //for(var i=0;i<_rows.length;i++){
             //    var _taskid=_rows[i].ID;
             //    var _tasktime=_rows[i].TotalTime;
             //    if(_taskid>0){
             //        $.get('/Task/SetWFTaskFinish?TaskID='+_taskid+'&Time='+_tasktime,function(res){
             //            if (res != "") {
             //                msg=msg+res+';';
             //            }                      
             //        })
             //    }
             //}
             //if(msg==''){
             //    location.reload();
             //    $('#SetupWFTaskHourModal').modal('hide');
             //}
             //else{
             //    //重载表格
             //    var _url = '/Task/Service_Json_GetTaskByIDs?TaskIDs=' + _taskids + '&type=' + 2;
             //    $("#tb_SetupWFTaskHour").jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
             //    alert(msg+'——任务结束失败！');
             //} 
             if (confirm("确认结束任务？")) {
                 var itemData=compactTSObj(2,'_viewmodel');
                 if(itemData!='' && itemData!=undefined){
                     $.get('/Task/SetWFTaskFinish',itemData,function(res){
                         if(res==''){
                             alert('结束成功！');
                             $('#SetupWFTaskHourModal').modal('hide');
                             location.reload();
                         }                            
                         else{
                             alert('任务:'+res+'没有正常结束！');
                         }
                     }) 
                 }                
             }              
         })

         $("#SetTaskStartModal").on("shown.bs.modal", function () {
             LoadWSUser($('#FTaskType').val());
         })
         //确认外发
         $('#modal_btn_wfTask').on('click',function(){
             var _itemData='';
             _itemData=compactTSObj(1,'_viewmodel');
             if(_itemData=='')
                 return false;
             //_itemData=JSON.parse(_itemData);
             var _ids = GetAllValues("tb_TaskStart","ID");
             Outsource(_ids,_itemData);
         })

         $("#SetupTaskPeriodHourModal").on("shown.bs.modal", function (){
             var TotalTime = $("#tb_SetupWFTaskHour").getCell($("#tb_SetupWFTaskHour").getGridParam("selrow"), "TotalTime");
             $('#modalinput_TotalTime').val(TotalTime);
             $('#modalinput_AssignedTime').val(TotalTime);
             $('.tr_TPHType').empty();
             $.get('/Task/Service_Json_GetTaskPeriodType',function(res){
                 for(var i=0;i<res.length;i++){
                     var html='<tr class="tr_TPHType"><td><label>'+res[i].Name+'('+res[i].Code+')'+'：</label></td><td><input id="'+res[i].Code+'" type="number" value="0" class="input_TPHType"/></td></tr>';
                     $('#formTable_tph').append(html)
                 }
             })
         })
         //绑定blur事件 父级绑定
         $('#formTable_tph').on('blur','input',function(){
             var _totaltime=$('#modalinput_TotalTime').val();
             var _curtime=0;
             var _inputtime=0;
             $(".input_TPHType").each(function(){
                 _inputtime+=Number($(this).val());
             });
             _curtime=_totaltime-_inputtime;
             if($(this).val()<0){
                 alert("无效输入！");
                 $(this).val(0);
                 $(this).focus();
                 return;
             }
             if(_curtime<0){
                 alert('录入工时大于剩余可分配工时，请重新录入！');
                 $(this).val(0);
                 $(this).focus();
                 return;
             }
             else if(_curtime>0){
                 document.getElementById("modal_btn_SubmitTPHour").disabled=true;                    
             }
             else if(_curtime==0){
                 document.getElementById("modal_btn_SubmitTPHour").disabled=false; 
             }
             $('#modalinput_AssignedTime').val(_curtime); 
         })
         //
         //$('#formTable_tph').on('change','#modalinput_AssignedTime',function(){
         //    var _time=$('#modalinput_AssignedTime').val();
         //    alert(_time);
         //    if(_time==0)
         //        document.getElementById("modal_btn_SubmitTPHour").disabled=true; 
         //    else
         //        document.getElementById("modal_btn_SubmitTPHour").disabled=false; 
         //})

         //工时提交
         $('#modal_btn_SubmitTPHour').on('click',function(){
             var _time=$('#modalinput_AssignedTime').val();
             if(_time>0){
                 alert('存在未分配工时，禁止提交！');
                 return;
             }
             else{
                 //alert('success!');
                 //提交总工时
                 var row=$("#tb_SetupWFTaskHour").getGridParam("selrow");
                 var rowData= $("#tb_SetupWFTaskHour").jqGrid('getRowData',row);
                 var i=0;
                 var name='_viewmodel';
                 var itemData=name+'['+i+'].TaskID='+rowData.ID+'&'+
                               //name+'['+i+'].TaskName='+rowData.TaskName+'&'+
                               name+'['+i+'].State='+rowData.State+'&'+
                               name+'['+i+'].MachinesCode='+rowData.MachinesCode+'&'+
                               name+'['+i+'].MachinesName='+rowData.MachinesName+'&' +
                               name+'['+i+'].UserID='+rowData.UserID+'&' + 
                               name+'['+i+'].UserName='+rowData.UserName+'&' +
                               name+'['+i+'].TotalTime='+rowData.TotalTime+'&' +
                               name+'['+i+'].Qty='+rowData.Qty;
                 //alert(itemData);
                 $.get('/Task/SetWFTaskFinish',itemData,function(res){
                     res=Number(res);
                     if(res>0){
                         //提交阶段工时
                         $(".input_TPHType").each(function(){
                             var code= this.id;
                             var model={TaskHourID:res,TypeCode:code,Time:Number($(this).val())};
                             $.get('/Task/Service_Save_TPRecords',model);
                         });
                         $('#SetupTaskPeriodHourModal').modal('hide');
                     }                            
                     else{
                         alert('任务结束失败！');
                     }
                 });
             }
         });
         //结束任务重载表格
         $('#modal_btn_close_FinishTask').on('click',function(){
             location.reload();
         })
     })

    //加载workshop对应部门人员
    function LoadWSUser(type) {
        $("#CheckUser option").remove();
        var _depid=0;
        type=Number(type);
        switch(type){
            case 1:
                _depid=7;
                break;
            case 2:
                _depid=8;
                break;
            case 3:
                _depid=9;
                break;
            case 4:
                _depid=7;
                break;
            case 6:
                _depid=5;
                break;
        }
        $.getJSON("/User/GetUsersByDepartment?DepartmentID="+_depid, function (msg) {
            $("#CheckUser").append($("<option/>", {
                value: 0,
                text: '-'
            }))
            $.each(msg, function (i, n) {
                $("#CheckUser").append($("<option/>", {
                    value: n.UserID,
                    text: n.FullName
                }))
            })
        })
    }

    function addColumnlists(ids,GridTableName,row,ColName){
        if (ids == "") {
            ids = $("#" + GridTableName).getCell(row, ColName);
        } else {
            ids = ids + "," + $("#" + GridTableName).getCell(row, ColName);
        }
        return ids;
    }

     function AttachMoldNumber(Link, MoldNumber){
         var _link = Link.substring(0, Link.lastIndexOf('=')+1)+MoldNumber;
         return _link;
     }

     function RefreshTaskGrid(Keyword){
         var _MoldNumber = $("#FMoldNumber").val();
         var _TaskType = $("#FTaskType").val();
         var _State = $("#FState").val();
         if (Keyword==""){
             $("#Keyword").val("");
         }
         var _url = '/Task/JsonMachineTasks?MoldNumber=' + _MoldNumber + "&TaskType=" + _TaskType + "&State=" + _State+"&Keyword="+Keyword;
         $("#TaskGrid").jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
     }
     function ChangeTaskType(TaskType){
         $("#FTaskType").val(TaskType);
         RefreshTaskGrid();
     }

     function ChangeViewState(State){
         $("#FState").val(State);
         RefreshTaskGrid();
     }

     function ShowEleStatus() {
         var _taskID = GetCurrentID("TaskGrid");
         if (_taskID != "") {
             $("#EleState option").remove();
             var _url = "/Task/EleStateCheck?TaskID="+_taskID;
             $.getJSON(_url, function(msg){
                 $.each(msg, function(i, n){
                     $("#EleState").append($("<option/>", {text:n}))
                 })
             })
             $("#EleStateModal").modal("show");
         } else {
             alert("请选择一个任务");
         }
     }

     function chk_griddata_TaskStart(){
         //var rowData = $("#tb_TaskStart").jqGrid("getRowData");
         //for(var i=0;i<rowData.length;i++){
         //    if (rowData[i].TotalTime == "" || rowData[i].TotalTime==0) {

         //        alert('工时未输入！');
         //        return false;
         //    }
         //    if (rowData[i].MachinesCode == "" || rowData[i].MachinesCode==undefined) {

         //        alert('未选择机器！');
         //        return false;
         //    }             
         //}
         //return true;
     }

    //type 1 开始加工 2 结束加工
     function compactTSObj(type,name){
         var _tbname;
         if(type==1){
             _tbname= 'tb_TaskStart';
         }
         else{
             _tbname= 'tb_SetupWFTaskHour';
         }
         //获取第2行(除表头)第2个单元格(第一个默认隐藏)
         var firsttdobj= $('#'+_tbname+' td:eq(13)');
         //模拟单元格点击事件
         firsttdobj.trigger("click");
         var data;
         var itemData='';
         data= $('#'+_tbname).jqGrid('getRowData');
         for(var i=0;i<data.length;i++){
             var rowData =data[i];
             if(type==1){
                 if(rowData.MachinesCode==''||rowData.MachinesCode==undefined){
                     alert('请选择机器！');
                     return '';
                 }
                 else if(rowData.UserName==''||rowData.UserName==undefined){
                     alert('请选择人员！');
                     return '';
                 }
                 else if(rowData.Qty==''||rowData.Qty==0){
                     alert('请填写加工零件数量！');
                     return '';
                 }
             }
             else if(type==2){
                 if((rowData.TotalTime==0||rowData.TotalTime==undefined)&& rowData.State=='外发'){
                     alert('外发任务请填写工时！');
                     return '';
                 }
             }
             itemData=itemData+name+'['+i+'].TaskID='+rowData.ID+'&'+
                               //name+'['+i+'].TaskName='+rowData.TaskName+'&'+
                               name+'['+i+'].State='+rowData.State+'&'+
                               name+'['+i+'].MachinesCode='+rowData.MachinesCode+'&'+
                               name+'['+i+'].MachinesName='+rowData.MachinesName+'&' +
                               name+'['+i+'].UserID='+rowData.UserID+'&' + 
                               name+'['+i+'].UserName='+rowData.UserName+'&' +
             name+'['+i+'].TotalTime='+rowData.TotalTime+'&' +
             name+'['+i+'].Qty='+rowData.Qty+'&'
         }
         //去掉最后一个字符
         itemData=itemData.substring(0,itemData.length-1);
         return itemData;
     }
 </script>

@{
    int _task = ViewBag.TaskType;
    switch (_task)
    {
        case 1:
            Html.RenderAction("CncTaskDialog");
            Html.RenderAction("ScanBarCodeDialog");
            break;
        case 2:
            Html.RenderAction("EdmTaskDialog");
            Html.RenderAction("ELECompensationDialog");
            break;
        case 3:
            Html.RenderAction("WedmTaskDialog");
            break;
        case 4:
            Html.RenderAction("MillingTaskDialog");
            Html.RenderAction("SteelProgramSelect");
            break;
    }
}