@model TechnikSys.MoldManager.Domain.Entity.PurchaseOrder
@using MoldManager.WebUI.Models.Helpers
@{
    string UserID = "";
    string UserName = "";
    try
    {
        UserID = Request.Cookies["User"]["UserID"];
        UserName = HttpUtility.UrlDecode(Request.Cookies["User"]["FullName"], System.Text.Encoding.UTF8);

    }
    catch
    {
        UserID = "";
        UserName = "";
    }
}

@{
    int DeptID;
    int PosID;
    try
    {
        DeptID = Convert.ToInt32(Request.Cookies["User"]["Department"]);
    }
    catch
    {
        DeptID = 0;
    }

    try
    {
        PosID = Convert.ToInt32(Request.Cookies["User"]["Position"]);
    }
    catch
    {
        PosID = 0;
    }
}
<style>
    #Basic td {
        text-align: center;
    }

    /*#Toolbar button {
        height: 30px;
        width: 120px;
        margin-top: 5px;
        float: left;
        font-size: 14px;
        font-weight: bold;
    }
    #Toolbar a {
        height: 30px;
        width: 120px;
        margin-top: 5px;
        float: left;
        font-size: 14px;
        font-weight: bold;
    }*/
    #POContentGrid td {
        margin:0px!important;
        padding:0px!important;
        height:30px;
        text-align:center;
        vertical-align:middle;
        font-size:12px;
    }
    #POContentGrid input {
        height: 24px;
        border-style: none;
        outline: none;
        font-size: 12px;
        margin: 0px;
        padding: 0px;
    }
</style>
@{ 
    var _inptState = "";
    var _tdState = "";
    if (Model.PurchaseOrderID > 0)
    {
        _inptState = "readonly";
    }
    else
    {
        _tdState = "hidden";
    }
}
<div>
    <input type="hidden" id="tempID" value="-1" />
    <input type="hidden" id="row" />
    <input type="hidden" id="ActiveCol" />
    <input type="hidden" id="QuotationRequestID" value="@Model.QuotationRequestID" />
</div>
<div style="margin-top:60px;">
    @if (Model.PurchaseOrderID > 0)
    {
        <h2>订单 @Model.PurchaseOrderNumber </h2>
    }
    else
    {
        <h2>新建订单</h2>
    }
</div>
<div style="position:absolute;left:0px;top:100px;right:0px;bottom:0px;min-width:1920px;">
    <div id="Toolbar" style="position:absolute;left:10px;top:0px;height:40px;border:1px rgba(0,0,0,0.2) solid;border-style:none none none none;overflow:hidden;">
        <table>
            <tr>
                @if (Model.PurchaseOrderID > 0)
                {
                    switch (Model.State)
                    {
                        case (int)PurchaseOrderStatus.新建:
                            if (DeptID == 4)
                            {
                                <td><button class="btn btn-danger" id="DeletePOContent"><span class="glyphicon glyphicon-trash"></span> 删除零件</button></td>
                                <td><button class="btn btn-warning" id="SubmitPO"><span class="glyphicon glyphicon-lock"></span> 提交审批</button></td>
                                <td><button class="btn btn-warning" id="CancelPO"><span class="glyphicon glyphicon-ban-circle"></span> 取消订单</button></td>
                            }
                            break;
                        case (int)PurchaseOrderStatus.待审批:
                            if (DeptID == 4)
                            {
                                if (PosID > 1)
                                {
                                    <td><button class="btn btn-warning" id="ReviewPO"><span class="glyphicon glyphicon-lock"></span> 审批</button></td>
                                }
                                @*<td><button class="btn btn-warning" id="CancelPO">取消订单</button></td>*@
                            }
                            break;
                        case (int)PurchaseOrderStatus.发布:
                            if (DeptID == 4)
                            {
                                <td id="td_GenerateLink"></td>
                                <td><button class="btn btn-primary" id="SendPO"><span class="glyphicon glyphicon-folder-open"></span>&nbsp; 订单文件</button></td>
                                <td><button class="btn btn-warning" id="CancelPO"><span class="glyphicon glyphicon-ban-circle"></span> 取消订单</button></td>
                            }
                            break;
                        case (int)PurchaseOrderStatus.拒绝:
                            if (DeptID == 4)
                            {
                                @*<td><button class="btn btn-primary" id="QuotationAgain"><span class="glyphicon glyphicon-repeat"></span> 重新询价</button></td>*@
                                <td><button class="btn btn-warning" id="CancelPO"><span class="glyphicon glyphicon-ban-circle"></span> 取消订单</button></td>
                            }
                            break;
                    }
                }
                else
                {
                    <td><button class="btn btn-success" id="SaveOrder"><span class="glyphicon glyphicon-save"></span> 保存订单</button></td>
                }

            </tr>
        </table>
    </div>
    <div id="Basic" style="position:absolute;left:10px;top:40px;right:10px;height:50px;border:1px rgba(0,0,0,0.2) solid;border-style:solid none solid none;">
        <table style="margin-top:5px;">
            <colgroup>
                <col width="80" />
                <col width="120" />
                <col width="80" />
                <col width="120" />
                <col width="80" />
                <col width="200" />
                

                <col width="40" />
                <col width="110" />
                <col width="40" />
                @if (Model.PurchaseOrderID == 0)
                {
                    <col width="85" />
                    <col width="85" />
                }
                else
                {
                    <col width="170" />
                }
                <col width="80" />
                <col width="120" />
                <col width="80" />
                <col width="120" />

                <col width="80" />
                <col width="400" />

            </colgroup>
            <tr>
                <td>状态</td>
                <td>
                    <input type="text" class="form-control" id="State" value="@Enum.GetName(typeof(PurchaseOrderStatus),@Model.State)" readonly>
                </td>
                <td>采购类型</td>
                <td>
                    <input type="hidden" id="PurchaseTypeID" value="@ViewBag.PurchaseTypeID" />
                    <input type="text" class="form-control" id="PurchaseTypeName" value="@ViewBag.PurchaseTypeName" readonly />
                </td>
                <td style="height:40px;">供应商</td>
                <td>
                    <input type="text" list="SupplierIDD" class="form-control" id="SupplierName" @_inptState>
                    <datalist id="SupplierIDD"></datalist>
                    <input type="hidden" id="PurchaseOrderID" value="@ViewBag.PurchaseOrderID" />
                </td>
                
                <td>币种</td>
                <td>
                    @if (Model.PurchaseOrderID == 0)
                    {
                        <select id="Currency" class="form-control">
                            <option value="人民币">人民币</option>
                            <option value="美元">美元</option>
                            <option value="日元">日元</option>
                            <option vlaue="欧元">欧元</option>
                        </select>
                    }
                    else
                    {
                        <input type="text" class="form-control" value="@(Model.Currency)" @_inptState />
                    }
                </td>
                <td>税率</td>
                @if (Model.PurchaseOrderID == 0)
                {
                    <td>
                        <select id="taxModel" class="form-control">
                            <option value="1">未税</option>
                            <option value="2">含税</option>
                        </select>
                    </td>
                    <td>
                        <select id="TaxRate" class="form-control">
                            <option value="16">16%</option>
                            <option value="6">6%</option>
                            <option value="5">5%</option>
                            <option value="4">4%</option>
                            <option value="3">3%</option>
                            <option value="0">0%</option>
                        </select>
                    </td>
                }
                else
                {
                    <td><input type="text" class="form-control" value="@(Model.TaxRate + "%")" @_inptState /></td>
                }

                <td>
                    总价(未税)
                </td>
                <td>
                    @if (Model.PurchaseOrderID > 0)
                    {
                        <input type="text" class="form-control" id="TotalPrice" value="@(Model.TotalPrice)" readonly>
                    }
                    else
                    {
                        <input type="text" class="form-control" id="TotalPrice" value="0" readonly>
                    }
                </td>
                <td>
                    总价(含税)
                </td>
                <td>
                    @if (Model.PurchaseOrderID > 0)
                    {
                        <input type="text" class="form-control" id="TotalPriceWT" value="@(Model.TotalPriceWT)" readonly>
                    }
                    else
                    {
                        <input type="text" class="form-control" id="TotalPriceWT" value="0" readonly>
                    }
                </td>
                <td>备注</td>
                <td>
                    <input type="text" class="form-control" id="Memo" style="width:100%" value="@Model.Memo" @_inptState />
                </td>
            </tr>
        </table>

    </div>

    <div id="tb_div" style="position:absolute;left:10px;top:90px;right:10px;bottom:0px;border:1px rgba(0,0,0,0.2) solid;overflow:hidden;">
        <table id="POContentGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

@*订单提交*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="POSubmitModal" tabindex="-1" role="dialog" aria-labelledby="POSubmitModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="POAcceptModalLabel">订单提交</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td class="col-sm-2"><label>备注</label></td>
                        <td class="col-sm-4">
                            <textarea id="SubmitMemo" class="form-control" rows="5" style="resize:none" maxlength="99"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="POSubmitButton">确定</button>
            </div>
        </div>
    </div>
</div>

@*订单审批*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="POReviewModal" tabindex="-1" role="dialog" aria-labelledby="POReviewModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            </div>
            <div class="modal-body">
                <table style="width:100%;text-align:center;margin:0px;padding:0px;">
                    <colgroup>
                        <col width="20%" />
                        <col width="40%" />
                        <col width="40%" />
                    </colgroup>
                    <tr>
                        <td style="font-weight:bold;float:left;">
                            审核结果
                            <input type="hidden" id="ReviewResponse" value="3" />
                        </td>
                        <td style="color:green;"><input id="whchk_ok" name="approvalRadio" checked="checked" type="radio" /> 通过</td>
                        <td style="color:red;"><input id="whchk_ng" name="approvalRadio" type="radio" /> 拒绝</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;float:left;">备注</td>
                        <td colspan="2"><textarea id="ReviewMemo" class="form-control" rows="5" style="resize:none" maxlength="99"></textarea></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" id="POReviewBtn"><span class="glyphicon glyphicon-check"></span> 确定</button>
            </div>
        </div>
    </div>
</div>

@*更新明细采购类型*@
<div class="modal fade" id="PurchaseTypeModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="PurchaseTypeModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="PurchaseTypeModal-label">采购类型设置</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td class="col-sm-3"><label>一级类型</label></td>
                        <td class="col-sm-9">
                            <select id="MainType" class="form-control"></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><label>二级类型</label></td>
                        <td class="col-sm-9">
                            <select id="SubType" class="form-control"></select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-primary" id="SetType">保存</button>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/Purchase.js"></script>
<script>
    $("document").ready(function(){

        @if (ViewBag.PurchaseOrderID != 0)
        {
            @:POContentGrid(@ViewBag.PurchaseOrderID);
                    @:LoadProject(@Model.ProjectID);
                    @:LoadSupplierName("SupplierName", @Model.SupplierID);
                    if (Model.SupplierID == 0)
            {
                @:LoadSelectedSuppliersText(@ViewBag.PurchaseRequestID);
                            }
            else
            {
                @:LoadAssignedSupplier(@Model.SupplierID);
                            }
            @:LoadUser(@Model.UserID, "UserName");
                        }
        else
        {
            @*@:PRContentGrid("@ViewBag.PartIDs", 0, 0);
                    if (ViewBag.ProjectID != 0)
            {
                @:LoadProject(@ViewBag.ProjectID);
                            }*@
            @:POContentGrid(@ViewBag.PurchaseOrderID,'@ViewBag.ItemIDs');
        }

        $("#CancelPO").on("click", function(){
            if (confirm("确认取消订单(取消之后无法重新下订单)?")){
                CancelPO();
            }

        })

        $("#PurchaseTypeBatch").on("click", function(){
            var selrows = $("#POContentGrid").jqGrid('getGridParam', 'selarrrow');
            if (selrows.length>0){
                $("#PurchaseTypeModal").modal("show")
            }else{
                alert("请至少选择一项申请内容")
            }

        })

        $("#PurchaseTypeModal").on("shown.bs.modal", function(){
            LoadPurchaseTypeLevel("MainType")
        })

        $("#MainType").on("change", function(){
            LoadPurchaseTypeLevel("SubType", $("#MainType").val())
        })

        $("#SetType").on('click', function(){
            SetType();
        })

        $('#whchk_ok').on('change',function(){
            approRadioChange();
        })
        $('#whchk_ng').on('change',function(){
            approRadioChange();
        })
    });

    function approRadioChange(){
        var okres = $('#whchk_ok')[0].checked;
        var ngres = $('#whchk_ng')[0].checked;
        if(okres){
            $('#ReviewResponse').val('3');
        }else if(ngres){
            $('#ReviewResponse').val('-100');
        }
    }

    function CancelPO(){
        var _url = "/Purchase/CancelPO?PurchaseOrderID="+$("#PurchaseOrderID").val();
        $.ajax({
            url:_url,
            type:"Get",
            success:function(msg){
                if (msg==""){
                    //alert("订单取消成功");
                    location.href="/Purchase/PurchaseOrderList";
                }else{
                    alert("订单取消错误,请重试");
                }
            }
        })
    }

    function LoadPurchaseTypeLevel(target, parent){
        $("#"+target+" option").remove();
        if (parent==undefined){
            parent = 0
        }
        var _url = '/Purchase/JsonPurchaseTypeLevel?ParentID='+parent;
        $.getJSON(_url, function(msg){
            $.each(msg, function(i, n){

                $("#"+target).append($("<option/>",{
                    value:n.PurchaseTypeID,
                    text:n.Name
                }))
                if (i==0){
                    LoadPurchaseTypeLevel("SubType", n.PurchaseTypeID)
                }
            })
            //LoadPurchaseTypeLevel("SubType", $("#MainType").val())

        })
    }

    function SetType(){
        var selrows = $("#POContentGrid").jqGrid('getGridParam', 'selarrrow');
        var _poContentIDs = "";
        var _text = $("#SubType option:selected").val()==undefined?$("#MainType option:selected").text():$("#SubType option:selected").text()
        var _val = $("#SubType option:selected").val()==undefined?$("#MainType option:selected").val():$("#SubType option:selected").val()
        for (i=0;i<selrows.length;i++){
            $("#POContentGrid").setCell(selrows[i], "PurchaseType", _text);
            $("#POContentGrid").setCell(selrows[i], "PurchaseTypeID", _val);
            _poContentIDs = _poContentIDs ==""?$("#POContentGrid").getCell(selrows[i], "POContentID"):_poContentIDs+","+$("#POContentGrid").getCell(selrows[i], "POContentID")
        }
        var _url = "/Purchase/UpdatePurchaseType?PurchaseTypeID="+_val+"&POContentIDs="+_poContentIDs;
        $.ajax({
            url:_url,
            type:"Get",
            success:function(msg){
                alert(msg);
            }

        })

        $("#PurchaseTypeModal").modal('hide')
    }
</script>
<script>
    $(document).ready(function(){
        SupplierListImport('SupplierIDD');

        var _strHtml='<a id="POEmail" class="btn btn-info" href="' + FormatHrefStr() + '" onclick="ShowDialog()"><span class="glyphicon glyphicon-envelope"></span> 发送邮件</a>';
        $('#td_GenerateLink').append(_strHtml);

        $('#SaveOrder').on('click',function(){
            CreatePO();
        });
        $.get('/Purchase/Service_PurType_GetByName?TypeName='+$('#PurchaseTypeName').val(),function(res){
            $.get('/Purchase/Service_PurType_GetByID?TypeID='+res.ParentTypeID,function(res){
                if(res.Name=='模具委外加工'){
                    $("#POContentGrid").setGridParam().showHideCol("Time");
                }
            })
        });
        $('#TaxRate').on('change',function(){
            var _taxModel=Number($('#taxModel').val());
            var rowIds=$("#POContentGrid").jqGrid("getDataIDs");
            for (i = 0; i <= rowIds.length ; i++) {
                $('#POContentGrid').jqGrid('editRow', rowIds[i], true);                
            }
            switch(_taxModel){
                //更新未税
                case 1:
                    for(var i=0;i<rowIds.length;i++){
                        var rowData = $('#POContentGrid').jqGrid('getRowData', rowIds[i]);
                        UpdateUnit(rowIds[i]);
                    }
                    for (i = 0; i <= rowIds.length ; i++) {
                        $('#POContentGrid').jqGrid('saveRow', rowIds[i]);                
                    }
                    var _total = 0;
                    var _totalwt = 0;
                    for (i = 0; i < rowIds.length ; i++) {
                        var rowData = $('#POContentGrid').jqGrid('getRowData', rowIds[i]);
                        _total = Number(Number(_total) + Number(rowData.TotalPrice)).toFixed(2);
                        _totalwt = Number(Number(_totalwt) + Number(rowData.TotalPriceWT)).toFixed(2);
                    }
                    $('#TotalPrice').val(_total);
                    $('#TotalPriceWT').val(_totalwt);
                    break;
                //更新含税
                case 2:
                    for(var i=0;i<rowIds.length;i++){
                        var rowData = $('#POContentGrid').jqGrid('getRowData', rowIds[i]);
                        UpdateUnitWT(rowIds[i]);
                    }
                    for (i = 0; i <= rowIds.length ; i++) {
                        $('#POContentGrid').jqGrid('saveRow', rowIds[i]);                
                    }
                    var _totalwt = 0;
                    for (i = 0; i < rowIds.length ; i++) {
                        var rowData = $('#POContentGrid').jqGrid('getRowData', rowIds[i]);
                        _total = Number(Number(_total) + Number(rowData.TotalPrice)).toFixed(2);
                        _totalwt = Number(Number(_totalwt) + Number(rowData.TotalPriceWT)).toFixed(2);
                    }
                    $('#TotalPrice').val(_total);
                    $('#TotalPriceWT').val(_totalwt);
                    break;
            }            
        })
    })
    function ShowDialog(){
        $.ajaxSettings.async=false;
        $.jAlert({ //this is the normal usage
            'content': '请耐心等待Outlook程序打开！<br />若无反应请<a href="/Administrator/Service_FileDownLoad">点击此处</a>下载插件',
            'autoClose' : 5000,
            'closeBtn':false,
            'size': 'xsm'
        });      
    }

    function FormatHrefStr(){
        var _href='';
        $.ajaxSettings.async=false;
        $.get('/Administrator/Service_GetServerInfo?_type=POMail',function(res){
            var _poID=$('#PurchaseOrderID').val();
            _href= 'MoldSysPlugin:'+res+_poID;
        });
        return _href;
    }
</script>
