@model TechnikSys.MoldManager.Domain.Entity.PurchaseRequest
@using MoldManager.WebUI.Models.Helpers
@{
    string UserID = "";
    string UserName = "";
    try
    {
        UserID = Request.Cookies["User"]["UserID"];
        UserName = HttpUtility.UrlDecode(Request.Cookies["User"]["FullName"], System.Text.Encoding.UTF8);

    }
    catch
    {
        UserID = "";
        UserName = "";
    }

    int DeptID;
    int PosID;
    try
    {
        DeptID = Convert.ToInt32(Request.Cookies["User"]["Department"]);
    }
    catch
    {
        DeptID = 0;
    }

    try
    {
        PosID = Convert.ToInt32(Request.Cookies["User"]["Position"]);
    }
    catch
    {
        PosID = 0;
    }
}
<style>
    #SupplierIDD option{
        color:rgba(0,0,0,0)!important;
        font-size:44px!important;
    }
     #modal_tb_PurchaseItemFiles td {
            text-align: center;
            /*height:60px!important;*/
            padding: 0px !important;
        }
</style>
<div style="margin-top:60px">

    <input type="hidden" value="@ViewBag.TaskType" id="TaskType"/>
    <div class="col-sm-11">
        <h2>采购申请单 @ViewBag.RequestNumber  </h2>
        @if (ViewBag.PurchaseRequestID != 0)
        {
            <input type="hidden" id="PRModified" value="false" />
        }
        else
        {
            <input type="hidden" id="PRModified" value="true" />
        }

        <div id="Toolbar">

            @if (Model == null)
            {
                <button class="btn btn-primary" id="AddContent" disabled>添加零件</button>
                <button class="btn btn-primary" id="DeleteContent">删除零件</button>
                <button class="btn btn-success" id="CreatePR">保存申请单</button>
            }
            else
            {
                <button class="btn btn-primary" id="PRHistory">申请单历史</button>
                switch (Model.State)
                {
                    case (int)PurchaseRequestStatus.新建:
                        if (Model.DepartmentID == DeptID)
                        {
                            <button class="btn btn-primary" id="AddContent">添加零件</button>                            
                            <button class="btn btn-primary" id="DeleteContent">删除零件</button>
                            <button class="btn btn-info" id="ShowAttachFileModal">添加附件</button>
                            <button class="btn btn-success" id="CreatePR">保存申请单</button>
                            <button class="btn btn-success" id="SubmitPR">提交申请单</button>
                            <button class="btn btn-warning" id="CancelPR">取消申请单</button>
                        }

                        break;
                    case (int)PurchaseRequestStatus.待审批:
                        if (PosID > 1)
                        {
                            <button class="btn btn-primary" id="ReviewPR">审批</button>
                        }
                        break;
                    case (int)PurchaseRequestStatus.审批通过:
                        if (DeptID == 4)
                        {
                            <button class="btn btn-primary" id="CreateQR">生成询价单</button>

                        }
                        if (Model.DepartmentID == DeptID)
                        {
                            <button class="btn btn-primary" id="RemoveCancel">移除订单取消项</button>
                        }
                        <input type="button" class="btn btn-success hr" id="GetERPID" value="同步ERP料号" style="display:none;">
                        break;
                    case (int)PurchaseRequestStatus.完成:
                        break;
                    case (int)PurchaseRequestStatus.拒绝:
                        if (Model.DepartmentID == DeptID)
                        {
                            <button class="btn btn-primary" id="RestartPR">重启申请单</button>
                        }
                        break;
                }
            }
        </div>
        <div id="Basic" class="col-sm-10 PRInfo">
            <table>
                @if (ViewBag.PurchaseRequestID != 0)
                {
                    string status = Enum.GetName(typeof(PurchaseRequestStatus), Model.State);
                    <tr>
                        <td class="col-sm-2">
                            <label>采购类型</label>
                            <input type="hidden" name="PurchaseType" id="PurchaseType" value="@ViewBag.PurchaseTypeID" />
                            <input type="text" class="form-control" id="PurchaseTypeName" value="@ViewBag.PurchaseType" style="display:inline;float:right;width:80%" readonly />
                        </td>

                        <td class="col-sm-2">
                            @if (Model.State == 1)
                            {                               
                                <label>推荐供应商</label>
                                @*<select id="SupplierID" name="SupplierID" class="form-control" style="display:inline;float:right;width:70%"></select>*@
                                <input id="SupplierName" list="SupplierIDD" type="text" name="SupplierName" class="form-control" style="display:inline;float:right;width:70%" />                              
                                <datalist id="SupplierIDD"></datalist>
                                <input id="SupplierID" hidden>
                            }
                            else
                            {
                                <label>推荐供应商</label>
                                <input type="text" id="RecommandSupplierName" class="form-control" style="display:inline;float:right;width:70%" readonly />
                                <input type="hidden" id="SupplierID" name="SupplierID" value="0" />
                            }

                        </td>                       

                        <td class="col-sm-2"><label>状态</label><input type="text" id="PurchaseRequestStatus" class="form-control" style="display:inline;float:right;width:80%" value="@status" readonly></td>
                    </tr>
                    <tr>
                        <td id="hr_ApprovalUser" class="col-sm-2 hr" style="display:none;">
                            <label>申请人</label>
                            @if (Model.State == 1)
                            {
                                <select id="ApprovalUserID" class="form-control" name="ApprovalERPUserID" style="display:inline;float:right;width:70%">
                                    <option value="0">-</option>
                                    @foreach (var ApprovalUser in ViewBag.ApprovalUserIDList)
                                    {
                                        if (@ViewBag.ApprovalUserName == @ApprovalUser.FullName)
                                        {
                                            <option value="@ApprovalUser.UserCode" selected>@ViewBag.ApprovalUserName</option>
                                        }
                                        else
                                        {
                                            <option value="@ApprovalUser.UserCode">@ApprovalUser.FullName</option>
                                        }
                                    }
                                </select>
                            }
                            else
                            {
                                <input id="ApprovalUserID" name="ApprovalERPUserID" class="form-control" value="@ViewBag.ApprovalUserName" style="display:inline;float:right;width:70%" readonly />
                            }
                        </td>

                        <td class="col-sm-2">
                            <label>创建人</label>
                            <input type="text" id="CreUser" class="form-control" value="@ViewBag.CreUserName" style="display:inline;float:right;width:80%" readonly />
                        </td>
                        <td class="col-sm-2">
                            <label>申请单号</label>
                            <input type="text" id="PurchaseRequestNumber" class="form-control" value="" style="display:inline;float:right;width:80%" readonly />
                            <input type="hidden" id="PurchaseRequestID" value="@ViewBag.PurchaseRequestID" />
                        </td>
                    </tr>
                    if (@ViewBag.State < (int)PurchaseRequestStatus.待审批 && @ViewBag.State >= (int)PurchaseRequestStatus.新建)
                    {
                        <tr>
                            <td class="col-sm-2"></td>
                            <td class="col-sm-2">
                                <label>成本中心</label>
                                <select id="CostCenterID" class="form-control" style="display:inline;float:right;width:80%"></select>
                            </td>

                            <td class="col-sm-2">
                                <label>需求日期</label>
                                <input type="date" class="form-control" id="RequireDateVal" style="display:inline;float:right;width:80%" />
                            </td>
                        </tr>
                    }

                    <tr>
                        <td colspan="3" class="col-sm-6">
                            @if (@ViewBag.State < (int)PurchaseRequestStatus.待审批)
                            {
                                <label>备注信息</label>
                                <input type="text" id="PRMemo" value="@Model.Memo" class="form-control" maxlength="99" style="display:inline;float:right;width:90%" />
                            }
                            else
                            {
                                <label>备注信息</label>
                                <input type="text" id="PRMemo" value="@Model.Memo" class="form-control" maxlength="99" style="display:inline;float:right;width:90%" readonly />
                            }
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="col-sm-2">
                            <label>采购类型</label>
                            <select id="PurchaseType" class="form-control" name="PurchaseType" style="display:inline;float:right;width:80%"></select>
                            <input type="hidden" id="PurchaseTypeName" readonly />
                        </td>
                        <td class="col-sm-2">
                            <label style="float:left">推荐供应商</label>
                            <input id="SupplierName" list="SupplierIDD" type="text" name="SupplierName" class="form-control" style="display:inline;float:right;width:70%" />
                            <datalist id="SupplierIDD"></datalist>
                            <input id="SupplierID" hidden>
                        </td>                        
                        <td class="col-sm-2"><label>状态</label><input type="text" id="PurchaseRequestStatus" class="form-control" style="display:inline;float:right;width:80%" value="新建" readonly></td>
                    </tr>
                    <tr>
                        <td id="hr_ApprovalUser" class="col-sm-2 hr" style="display:none;">
                            <label>申请人</label>
                            <select id="ApprovalUserID" class="form-control" name="ApprovalERPUserID" style="display:inline;float:right;width:70%">
                                <option value="0">-</option>
                                @foreach (var ApprovalUser in ViewBag.ApprovalUserIDList)
                                {
                                    <option value="@ApprovalUser.UserCode">@ApprovalUser.FullName</option>
                                }
                            </select>
                        </td>

                        <td class="col-sm-2">
                            <label>成本中心</label>
                            <select id="CostCenterID" class="form-control" style="display:inline;float:right;width:80%"></select>
                        </td>

                        <td class="col-sm-2">
                            <label>需求日期</label>
                            <input type="date" class="form-control" id="RequireDateVal" style="display:inline;float:right;width:80%" />
                        </td>

                    </tr>
                    <tr>
                        <td colspan="3" class="col-sm-6">
                            <label>备注信息</label>
                            <input type="text" id="PRMemo" value="" class="form-control" style="display:inline;float:right;width:90%" maxlength="99" />
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="col-sm-12" style="float:left;">
            <table id="PRContentGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
</div>
<input type="hidden" id="tempID" value="-1" />

<input type="hidden" id="row" />
@*手工添加/编辑采购项信息对话框*@
<div class="modal" id="PRContentAdd" tabindex="-1" role="dialog" aria-labelledby="PRContentAddLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="PRContentAddLabel">添加零件</h4>
            </div>
            <div class="modal-body">
                <table class="table-striped col-sm-12">
                    <tr>
                        <td class="col-sm-4 ">
                            <div class="_selPart1">模号</div>
                            <div class="_selPart2">耗材类型</div>
                            <div class="_selPart5">备库大类</div>
                        </td>
                        <td class="col-sm-8">
                            <div class="_selPart1">
                                <input type="text" class="form-control required" name="MoldNum" id="MoldNum" min="0" value="" placeholder="请输入模号" />
                            </div>
                            <div class="_selPart2">
                                <input type="text" list="modal_HCClassList" class="form-control required" name="HCClass" id="HCClass" />
                                <datalist id="modal_HCClassList"></datalist>
                            </div> 
                            <div class="_selPart5">
                                <input type="text" list="modal_BKClassList" class="form-control required" name="BKClass" id="BKClass" />
                                <datalist id="modal_BKClassList"></datalist>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">零件号</td>
                        <td class="col-sm-8">
                            <input type="hidden" class="form-control" name="PartNumber" id="PartNumber" min="0" value="" />
                            <input type="text" class="form-control required" name="JobNo" id="JobNo" min="0" value="" placeholder="请输入JOB NO" readonly/>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">零件短名</td>
                        <td class="col-sm-8">
                            <input type="text" class="form-control required" name="Name" id="Name" maxlength="50" placeholder="请输入零件短名" />
                            <input type="hidden" id="PRContentID" value="0" />
                            <input type="hidden" id="PartID" value="0" />
                            <input type="hidden" id="MoldNumber" value="" />
                            <input type="hidden" id="VerifyFail" value="0" />
                            <input type="hidden" id="State" value="" />
                            <input type="hidden" id="ViewType" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">数量</td>
                        <td class="col-sm-8"><input type="number" class="form-control required" name="Quantity" id="Quantity" min="0" value="" /></td>
                    </tr>
                    <tr id="tr_PlanQty" hidden>
                        <td class="col-sm-4">计划数量</td>
                        <td class="col-sm-8"><input type="number" class="form-control required" name="PlanQty" id="PlanQty" min="0" value="" /></td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">规格</td>
                        <td class="col-sm-8"><input type="text" class="form-control required" name="Specification" id="Specification" maxlength="100" placeholder="请输入规格或尺寸" /></td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">材料</td>
                        <td class="col-sm-8">
                            <select class="form-control required" id="MaterialID" name="MaterialID">
                                <option value="0">-</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">硬度</td>
                        <td class="col-sm-8">
                            <select class="form-control" id="HardnessID" name="Hardness">
                                <option value="0">-</option>
                            </select>
                        </td>
                    </tr>
                    <tr id="brandtr" >
                        <td class="col-sm-4">品牌</td>
                        <td class="col-sm-8">
                            <select class="form-control required" id="Brand" name="BrandID"></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">供应商</td>
                        <td class="col-sm-8">
                            <input id="AvailableSuppliers" list="modal_SupplierIDD" type="text" name="AvailableSuppliers" class="form-control" />
                            <datalist id="modal_SupplierIDD"></datalist>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">备注</td>
                        <td class="col-sm-8">
                            <input type="text" class="form-control" name="Memo" id="Memo" maxlength="99" />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">需求日期</td>
                        <td class="col-sm-8">
                            <input type="date" class="form-control" name="RequireDate" id="RequireDate" value="" />
                        </td>
                    </tr>
                    @*<tr>
                            <td class="col-sm-4">成本归属</td>
                            <td class="col-sm-8">
                                <select class="form-control" name="CostCenterID" id="CostCenterID"></select>
                            </td>
                        </tr>*@
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="SaveContent" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

@*申请单提交*@
<div class="modal" id="PRSubmitModal" tabindex="-1" role="dialog" aria-labelledby="PRSubmitModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="PRPRAcceptModalLabel">申请单提交</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td class="col-sm-2"><label>备注</label></td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">
                            <textarea id="SubmitMemo" class="form-control" rows="5" style="resize:none" maxlength="99"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="PRSubmitButton">确定</button>
            </div>
        </div>
    </div>
</div>

@*申请单接受/拒绝*@
<div class="modal" id="PRReviewModal" tabindex="-1" role="dialog" aria-labelledby="PRReviewModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="PRReviewModalLabel">申请单审批</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td class="col-sm-2"><label>审批结果</label></td>
                        <td class="col-sm-4">
                            <select class="form-control" id="ReviewResponse">
                                @{
                                    int response = (int)PurchaseRequestStatus.审批通过;
                                }
                                <option value="@response">通过</option>
                                @{
                                    response = (int)PurchaseRequestStatus.拒绝;
                                }
                                <option value="@response">拒绝</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2"><label>备注</label></td>
                        <td class="col-sm-4">
                            <textarea id="ReviewMemo" class="form-control" rows="5" style="resize:none" maxlength="99"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="PRReviewButton">确定</button>
            </div>
        </div>
    </div>
</div>

@*重启申请单对话框*@
<div class="modal" id="RestartPRDialog" tabindex="-1" role="dialog" aria-labelledby="RestartPRLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="RestartPRLabel">重启申请单</h4>
            </div>
            <div class="modal-body" style="height:300px">
                <h4>重启原因</h4>
                <textarea id="RestartMemo" name="Memo" rows="5" class="form-control" maxlength="99" style="resize:none"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="RestartPRBtn" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

@*申请单历史显示*@
<div class="modal" id="PRHistoryModal" tabindex="-1" role="dialog" aria-labelledby="PRHistoryLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="PRHistoryLabel">申请单历史</h4>
            </div>
            <div class="modal-body">
                <select id="PRHistoryList" class="form-control" size="20"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>

@*添加零件*@
<div class="modal" id="PartSearch" tabindex="-1" role="dialog" aria-labelledby="RequireDateLabel">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="RequireDateLabel">零件查询</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>
                            @*<select id="_selPartModal" class="form-control" style="width:140px;position:relative;">
                                <option value="1">模具直接材料</option>
                                <option value="2">模具生产耗材</option>
                                <option value="5">模具耗材备库</option>
                            </select>*@
                            <input id="_selPartModalTxt" class="form-control" style="width:140px" readonly/>
                            <input id="_selPartModal" hidden />
                        </td>
                        <td>
                            <div class="input-group" style="float:right;">
                                <div class="input-group-btn">
                                    <label>查询关键字：</label>
                                    <select id="_sel" class="form-control" style="width:120px;position:relative;">
                                        <option value="2">物料编号</option>
                                        <option value="1">零件短名</option>
                                        <option value="3">规格</option>
                                    </select>
                                    <input type="text" class="form-control" id="SpecKeyword" placeholder="请键入搜索关键字" style="width:140px;"/>
                                    <button class="btn btn-default" id="PartSearchBtn"><span class="glyphicon glyphicon-search"></span>查询</button>
                                    <button class="btn btn-primary" id="modal_AddPart"><span class="glyphicon glyphicon-share-alt"></span>添加至表格</button>
                                </div>          
                            </div>                           
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="table-striped col-sm-12" id="tb_PartSearch"></table>
                        </td>
                    </tr>
                </table>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign"></span>返回</button>
                <button type="button" class="btn btn-success" id="NewPart"><span class="glyphicon glyphicon-plus-sign"></span>新建采购项</button>
            </div>
        </div>
    </div>
</div>

@*附件*@
<div class="modal" id="PurchaseItemFileDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:950px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">采购项附件</h4>
            </div>
            <div class="modal-body">
                <form id="modal_PurchaseItemAttachForm" name="modal_PurchaseItemAttachForm" method="post" enctype="multipart/form-data">
                    <input id="ObjID" name="ObjID" hidden />
                    <input id="ObjType" name="ObjType" value="PurchaseItems" hidden />
                    <input id="_itemIDs" name="_itemIDs" hidden />
                    <table>
                        <tr>                          
                            <td>
                                <select id="modal_sel_purFileModal" name="purFileModal" class="form-control">
                                    <option value="1">单附件</option>
                                    <option value="2">多附件</option>
                                </select>
                            </td>                            
                            <td>
                                <input id="Files" name="Files" type="file" class="form-control" placeholder="文件名格式：零件号-xxx(任意字符)">
                            </td>
                            <td>
                                <button id="modal_PurchaseItemAttachSubmitbtn" class="btn btn-warning" type="button" style="width: 72px;"><span class="glyphicon glyphicon-upload"></span> 提交</button>
                            </td>
                            <td>
                                <a href="#" title="(多附件模式)文件名必须以'零件号(模具号-图纸号)'作为开头" class="form-control btn-info"><span id="modal_purFileHelper" class="glyphicon glyphicon-question-sign"></span></a>
                            </td>
                        </tr>
                    </table>
                    <table id="modal_tb_PurchaseItemFiles"></table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("PDFTest", "Purchase", FormMethod.Post, new { id = "PDF" }))
{ <input type="hidden" id="PDFContent" name="Content" />
}

@if (ViewBag.ProjectID == 0)
{
    Html.RenderAction("MoldSelect", "Dialog");
}

<script src="~/Scripts/Purchase.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadMaterials();
        LoadSuppliers(0,1);
        LoadCostCenters();
        GetPurchaseType();
        PartSearchGrid();

        if(sessionStorage['SpecKey']!=null){
            if(sessionStorage['SpecKey']=='hr'){
                $('#btntest').hide();
            }
        }
        //_hrConfig();
        //LoadWSUser($('#TaskType').val());
        var _supplierID;
        @try{
            @:_supplierID=@Model.SupplierID
        }
        catch
        {
            @:_supplierID=-1;
                                                        }
        //LoadRecommandSuppliers(_supplierID);
        @if (ViewBag.PurchaseRequestID != 0)
        {
            @:PRContentGrid("", @ViewBag.PurchaseRequestID, @ViewBag.PRState,"","");
                                                                                            @:LoadProject(@ViewBag.ProjectID);
                                                                                            @:LoadPR(@ViewBag.PurchaseRequestID);
                                                            if (Model.SupplierID != 0)
            {
            @:LoadAssignedSupplier(@Model.SupplierID);
                                                                                             }
            @:LoadUser(@Model.UserID, "UserName");
                                                        }
        else if (ViewBag.PartIDs!="")
        {
            @:PRContentGrid("@ViewBag.PartIDs", 0, 0,"","");
                                                                                            if (ViewBag.ProjectID != 0)
            {
                @:LoadProject(@ViewBag.ProjectID);
                                                                                             }
        }
        else if (ViewBag.TaskIDs != "")
        {
            @:PRContentGrid("", 0, 0,"@ViewBag.TaskIDs","");
                                                                        }
        else if (ViewBag.WarehouseStockID != "") {
            @:PRContentGrid("",0,0,"","@ViewBag.WarehouseStockIDs");
                                                                }
        else
        {
            @:PRContentGrid("", 0, 0,"","","");
                                                                                                }
        //设置成本中心
        $('#CostCenterID').on('change',function(){
            SetCostCenter();
        })
        //设置需求日期
        $('#RequireDateVal').on('change',function(){
            SaveRequireDate( $("#RequireDateVal").val());
        })

        $("#SelectProject").on("click", function(){
            GetProjectID($("#MoldList option:selected").val());
        })

        $("#MoldList").on("dblclick", function(){
            GetProjectID($("#MoldList option:selected").val());
        })

        $("#PartNumber").on("change", function(){
            if ($("#PartNumber").val()!=""){
                VerifyMoldNumber($("#PartNumber").val(), $("#PurchaseType").val());
            }
        })

        $("#RequireDateSet").on("click", function(){
            ShowRequireDateSet();
        })

        $("#SaveRequireDateBtn").on("click", function(){
            SaveRequireDate( $("#RequireDateVal").val());
            $("#RequireDateModal").modal("hide");
        })

        $("#PurchaseType").on("change", function(){
            $.get('/Purchase/GetPurchaseTypeInfo?PurchaseTypeID='+$('#PurchaseType').val(),function(res){
                if(res.ParentTypeID==0){
                    $("#PurchaseType").val('');
                }
                else{
                    SetDefaultDate();
                }
            })            
        })

        $("#PartSearchBtn").on("click", function(){           
            PartSearch();
        })

        $("#NewPart").on("click", function(){
            NewPart();
        })

        $("#RemoveCancel").on("click", function(){
            RemoveCancelItems();
        })

        if(@ViewBag.PurchaseRequestID!=0){
            var prID=$('#PurchaseRequestID').val();
            $.ajax({
                url:"/Purchase/IsErpPasrts?prID="+prID,
                type:"Get",
                success:function(result){
                    if(result!='ok'){
                        return
                    }
                    else{
                        $('#GetERPID').css('pointer-events', 'none');
                        $('#GetERPID').css('cursor', 'not-allowed');
                        $('#GetERPID').css('background-color', 'darkgray');
                        $('#GetERPID').css('border-color', 'darkgray');
                    }
                }
            })
        }

        SupplierListImport('SupplierIDD');
        SupplierListImport('modal_SupplierIDD');

        $("#SupplierName").on('change', function(){
            SetSupplier();
            GetSupplierID($('#SupplierName').val());
        })

        $('#modal_AddPart').on('click',function(){
            var selrows = $("#tb_PartSearch").jqGrid('getGridParam', 'selarrrow');
            if (selrows.length==0){
                selrows=  $('#tb_PartSearch').getDataIDs();
            }
            for(var i=0;i<selrows.length;i++){
                var _partid= $("#tb_PartSearch").getCell(selrows[i], "PartID");
                var _partnum= $("#tb_PartSearch").getCell(selrows[i], "PartNumber");
                if(_partid>0){
                    AddPart(_partid);
                }else{
                    AddPartByPartNum(_partnum);
                }                
            }
        });

        $('#JobNo').on('blur',function(){
            var _prid=$("#PRContentID").val();
            var moldNum='';
            var _selPartModal = Number($('#_selPartModal').val());
            switch (_selPartModal) {
                case 1:
                    moldNum = $('#MoldNum').val();
                    break;
                case 2:
                    moldNum = $('#HCClass').val();
                    break;
                case 5:
                    moldNum = $('#BKClass').val();
                    break;
            }
            if(_prid==0){
                if(moldNum!='' && moldNum!=undefined){
                    var _partnumber=moldNum+'-'+$('#JobNo').val();
                    $.get('/Part/Service_Chk_Part?_partnum='+_partnumber,function(res){
                        if(res!=''){
                            alert(res);
                            $('#JobNo').val('');
                        }
                    });
                }
                else{
                    alert('请先输入模号！');
                    $('#MoldNum').val('');
                    $('#HCClass').val('');
                    $('#BKClass').val('');
                    $('#JobNo').val('');
                }
            }   
        });

        _wfViewConfig($('#TaskType').val());

        if (sessionStorage['SpecKey'] != null) {
            if (sessionStorage['SpecKey'] == 'hr') {
                $("#PRContentGrid").setGridParam().showHideCol("ERPPartID");
            }
        }
    });


    function GetProjectID(MoldNumber){
        var _url ="/Project/GetProjectID?MoldNumber="+MoldNumber;

        $.ajax({
            url:_url,
            type:"Get",
            success:function(msg){
                $("#ProjectID").val(msg);
            }
        })
    }

    function GetPurchaseType(){
        var _url="";
        @if (ViewBag.PartIDs != "")
        {
            @:_url = "/Purchase/JsonPurchaseTypes?TypeName=模具直接材料&ContainParent=false&QFDep=true";
                                                                        }
        else if (ViewBag.TaskIDs!="")
        {
            @:_url = "/Purchase/JsonPurchaseTypes?TypeName=模具委外加工&ContainParent=false&QFDep=true";
                                                                }
        else
        {
            @:_url = "/Purchase/JsonPurchaseTypes?ContainParent=true&QFDep=true";
                                                        }
        if (_url!=""){
            $.getJSON(_url, function(msg){
                $("#PurchaseType").append($("<option/>", {value:0,text:"-"}))
                $.each(msg, function(i,n){
                    if (@ViewBag.TaskType==n.TaskType && @ViewBag.TaskType!=0){
                        $("#PurchaseType").append($("<option/>", {value:n.PurchaseTypeID,text:n.Name, selected:true}))
                    }else{
                        if(n.ParentTypeID==0){
                            $("#PurchaseType").append(
                                $("<option/>", {
                                    value:0,text:'----'+n.Name+'----'
                                }));
                        }
                        else{
                            $("#PurchaseType").append(
                                $("<option/>", {
                                    value:n.PurchaseTypeID,text:n.Name
                                }));
                        }
                    }
                })
            })
        }
    }

    function VerifyMoldNumber(PartNumber, PurchaseType){
        if (PartNumber.length==9){
            if (PurchaseType!=2){
                var _url = "/Purchase/VerifyMoldNumber?PartNumber="+PartNumber;
                $.ajax({
                    url:_url,
                    type:"Get",
                    success:function(msg){
                        if (msg!=""){
                            $("#MoldNumber").val(msg);
                            $("#VerifyFail").val(0);
                        }else{
                            $("#MoldNumber").val("");
                            alert("未找到零件对应模具号");
                            $("#VerifyFail").val(1);
                        }
                    }
                })
            }else{
                $("#VerifyFail").val(0);
            }
        }else{
            alert("零件号长度必须为9位");
        }
    }

    function ShowRequireDateSet(){

        $("#RequireDateVal").val("");
        $("#RequireDateModal").modal("show");
    }

    function SaveRequireDate(RequireDate){
        var selrows = $("#PRContentGrid").jqGrid('getGridParam', 'selarrrow');

        if (selrows.length>0){
            for (i=0;i<selrows.length;i++){
                $("#PRContentGrid").jqGrid('setCell', selrows[i], 'RequireTime', RequireDate);
            }
        }else{
            var _rows =  $('#PRContentGrid').getDataIDs();
            for (i=0;i< _rows.length;i++){
                //$("#PRContentGrid").jqGrid('setCell', i+1, 'RequireTime', RequireDate);
                $("#PRContentGrid").setCell(_rows[i], 'RequireTime', RequireDate);
            }
        }


    }

    function SetDefaultDate(){
        var _typeID=Number($("#PurchaseType").val());
        if (_typeID!=0){
            //var _url = "/Purchase/GetPurchaseTypeInfo?PurchaseTypeID="+_typeID;
            //$.ajax({
            //    url:_url,
            //    type:"Get",
            //    success:function(msg){
            //        var _defaultPeriod = Number(msg.DefaultPeriod);
            //        var _curDate = new Date();
            //        _curDate.setDate(_curDate.getDate()+_defaultPeriod);
            //        var _defaultDate = _curDate.getFullYear()+"-0"+(_curDate.getMonth()+1)+"-"+_curDate.getDate();

            //        SaveRequireDate(_defaultDate);
            //    }
            //})
            $.get('/Purchase/Service_GetPRMRDate?_purchaseTypeID='+_typeID,function(res){
                //SaveRequireDate(_defaultDate);
                $('#RequireDateVal').val(res);
                SaveRequireDate( res);
            })
        }
    }

    //查询零件
    function PartSearch(){
        var _key = $("#SpecKeyword").val();
        var _sel=$('#_sel').val();
        var _selPartModal=$('#_selPartModal').val();
        var _url = "/Part/Service_Json_GetPartByKeys?sel=" + _sel + "&Keywords=" + _key+'&_selPartModal='+_selPartModal;
        reloadGrid(_url,'tb_PartSearch');
        //var _url = "/Part/QueryBySpec?Keyword="+_key;
        //var _row = "";
        //$("#AllParts").removeAttr("style");
        //$("#PartList tr").remove();
        //$.getJSON(_url, function(msg){
        //    $.each(msg, function(i, n){
        //        _row = "<tr><td>"+n.PartNumber+"</td><td>"+n.Specification+"</td><td>"+n.MaterialName+"</td><td>"+n.Version+"</td><td>"+
        //            "<button class='btn btn-primary' id='"+n.PartID+"' onclick='AddPart("+n.PartID+")'>添加</button>"+
        //            "</td></tr>";
        //        $("#PartList").append(_row);
        //    })
        //})
    }
    function reloadGrid(_url,_tbID){
        //var _url = '/Task/JsonMachineTasks?MoldNumber=' + _MoldNumber + "&TaskType=" + _TaskType + "&State=" + _State+"&Keyword="+Keyword;
        $('#'+_tbID).jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
    }

    //添加至表格
    function AddPart(PartID){
        var _url = "/Part/JsonPart?PartID="+PartID;
        $.getJSON(_url, function(msg){
            var _tempID = Number($("#tempID").val())- 1;
            $("#tempID").val(_tempID);
            var _moldNumber = msg.Name.substring(0,msg.Name.indexOf('_'))
            data = {
                ID: "",
                PartID:PartID,
                Name: msg.ShortName,
                Quantity: msg.Quantity,
                PartNumber: msg.PartNumber,
                Material:  msg.MaterialName,
                Hardness: msg.Hardness,
                Specification: msg.Specification,
                BrandName: msg.BrandName,
                SupplierName: msg.SupplierName,
                JobNo:msg.JobNo,
                Memo: "",
                State:"",
                RequireTime: "",
                MoldNumber:_moldNumber,
                ERPPartID:msg.ERPPartID,
                PlanQty:msg.TotalQty
            };
            $("#PRContentGrid").addRowData(_tempID, data, 0, 0);
        })
    }
    //添加至表格
    function AddPartByPartNum(PartNum){
        var _url = "/Part/Service_Part_GetPartByPartNum?_partNum="+PartNum;
        $.getJSON(_url, function(msg){
            var _tempID = Number($("#tempID").val())- 1;
            $("#tempID").val(_tempID);            
            var _partNums=(msg.PartNum).split('-');
            data = {
                ID: "",
                PartID:0,
                Name: msg.PartName,
                Quantity: msg.PlanQty,
                PartNumber: msg.PartNum,
                Material:  msg.Materials,
                Hardness: '',
                Specification: msg.Specification,
                BrandName: '',
                SupplierName: '',
                JobNo:_partNums[1],
                Memo: "",
                State:"",
                RequireTime: "",
                MoldNumber:msg.MoldNumber,
                ERPPartID:'',
                PlanQty:msg.PlanQty,
            };
            $("#PRContentGrid").addRowData(_tempID, data, 0, 0);
        })
    }

    function NewPart(){
        $("#PartSearch").modal("hide");
        $("#PRContentAdd input").val("");
        $("#PRContentAdd select").val(0);
        LoadBrands();
        showBrand('');
        $("#row").val(0);
        $("#PRContentAdd").modal("show");
    }

    function LoadCostCenters(){
        var _url ="/Purchase/JsonCostCenters";
        $("#CostCenterID option").remove();
        $.getJSON(_url, function(msg){
            $("#CostCenterID").append($("<option/>",{
                value:0,
                text:'-'
            }))
            $.each(msg, function(i,n){

                //$("#CostCenterID").append($("<option/>", {value:n.CostCenterID, text:n.Name}));
                $("#CostCenterID").append($("<option/>",{
                    value:n.CostCenterID,
                    text:n.Name
                }))
            })
        })
    }

    function RemoveCancelItems(){
        var selr = $('#PRContentGrid').jqGrid('getGridParam', 'selarrrow');
        if(selr.length==0){
            alert("请选择要删除的申请项");
        }else{
            var cancelItemName="";
            var _ids="";
            for (var i = 0; i < selr.length; i++) {
                var stateText = $("#PRContentGrid").getCell(selr[i], "State");
                if (stateText!="订单取消"){
                    var _name = $("#PRContentGrid").getCell(selr[i], "Name")
                    cancelItemName= cancelItemName==""?_name:cancelItemName+","+_name;
                }else{
                    var _id =  $("#PRContentGrid").getCell(selr[i], "ID");
                    _ids = _ids==""?_id:_ids+","+_id;
                }
                if (cancelItemName!=""){
                    alert("只有处于订单取消状态的申请项才允许删除")
                }else{
                    RemovePOCancelItems(_ids);
                }
            }
        }

    }

    function RemovePOCancelItems(IDs){
        var _url = "/Purchase/RemovePOCancelItems?PRContentIDs="+IDs+"&PurchaseRequestID="+$("#PurchaseRequestID").val();
        $.ajax({
            url:_url,
            type:"Get",
            success:function(msg){
                alert(msg);
                location.reload();
            }
        })
    }
    $("#CostCenterBatch").on('click', function(){
        $("#CostCenterModal").modal("show")
    })
    $("#CostCenterModal").on("shown.bs.modal", function(){
        LoadCostCenters()
    })
    $("#SetCostCenter").on('click', function(){
        SetCostCenter();
    })
    function SetCostCenter(){
        var selrows = $("#PRContentGrid").jqGrid('getGridParam', 'selarrrow');
        if (selrows.length==0){
            selrows=  $('#PRContentGrid').getDataIDs();
        }
        var _text = $("#CostCenterID option:selected").text();
        var _val = $("#CostCenterID option:selected").val();
        _text=_text=='-'?' ':_text;
        for (i=0;i<selrows.length;i++){
            $("#PRContentGrid").setCell(selrows[i], "CostCenterName", _text);
            $("#PRContentGrid").setCell(selrows[i], "CostCenterID", _val);
        }
        //$("#CostCenterModal").modal('hide')
    }
    
    function SetSupplier(){
        var selrows = $("#PRContentGrid").jqGrid('getGridParam', 'selarrrow');
        if (selrows.length==0){
            selrows=  $('#PRContentGrid').getDataIDs();
        }
        //var _text = $("#SupplierID option:selected").text();
        //var _val = $("#SupplierID option:selected").val();
        var _suppliername=$('#SupplierName').val();
        for (i=0;i<selrows.length;i++){
            $("#PRContentGrid").setCell(selrows[i], "SupplierName", _suppliername);
        }
    }

    //function SupplierListImport(_suplistID){
    //    var js='';
    //    $('#'+_suplistID).html('');
    //    $.get('/Purchase/JsonSuppliersByJS?js='+js,function(res){
    //        console.log(typeof(res));
    //        var fo=res.toString();
    //        fo=fo.split(",");
    //        for(var i=0;i<fo.length;i++){
    //            //中文
    //            var v1=fo[i].split('-')[0];
    //            //英文
    //            var v2=fo[i].split('-')[1];
    //            var ohtml = "<option value='"+v1+"'>"+v2+"</option>";
    //            var $ohtml = $(ohtml);
    //            $('#'+_suplistID).append($ohtml);
    //        }
    //    });
    //}

    //加载workshop对应部门人员
    function LoadWSUser(type) {
        $("#wsUserID option").remove();
        var _depid=0;
        switch(type){
            case 1:
                _depid=7;
                break;
            case 2:
                _depid=8;
                break;
            case 3:
                _depid=9;
                break;
            case 4:
                _depid=7;
                break;
            case 6:
                _depid=5;
                break;
        }
        $.getJSON("/User/GetUsersByDepartment?DepartmentID="+_depid, function (msg) {
            $.each(msg, function (i, n) {
                $("#wsUserID").append($("<option/>", {
                    value: n.UserID,
                    text: n.FullName
                }))
            })
        })
    }

    function _wfViewConfig(type){
        if(type>0){
            //表格列头
            $("#PRContentGrid").setGridParam().showHideCol("Operater");
            $("#PRContentGrid").setGridParam().showHideCol("MachineName");
            //返回相应按钮
            $('#AddContent').hide();
            $('#brandtr').hide();
            //$('#Brand').hide();
            //$('#Brand').val('委外');
            //申请人
            $('#ApprovalUserID').attr('disabled',true);
            //供应商
            $('#SupplierName').attr('readonly',true);
        }
        else{
            $("#PRContentGrid").setGridParam().showHideCol("BrandName");
            //$('#brandtr').show();
        }
    }

    function _hrConfig(){
        $('#GetERPID').hide();
        $('#hr_ApprovalUser').hide();
    }
</script>

<script>
    $(document).ready(function(){
        PurchaseItemAttachFileGird();//初始化采购项附件列表

        $('#ShowAttachFileModal').on('click',function(){
            ReloadPurchaseItemGrid();
            $('#Files').val("");
            $('#PurchaseItemFileDialog').modal("show");
        })

        $('#modal_PurchaseItemAttachSubmitbtn').on('click',function(){
            if ($('#Files').val() == '') {
                alert('请选择上传表单！');
                $('#Files').val('');
                return false;
            }
            var _items=GetItemIDs();
            $('#_itemIDs').val(_items);
            $('#modal_PurchaseItemAttachForm').ajaxSubmit({
                url: '/Attachment/Service_PurchaseItemFileUpload/',
                type: 'post',
                async:false,
                dataType: 'json',
                success: function (msg) {
                    if (msg.Code == 1) {
                        $('#Files').val("");
                        ReloadPurchaseItemGrid();
                    }
                    else
                        alert(msg.Message);
                }
            })
        })

        $('#modal_sel_purFileModal').on('change',function(){
            var _sel=$('#modal_sel_purFileModal').val();
            if(Number(_sel)==1){//单附件
                //alert('1');
                $('#Files').removeAttr('multiple');
            }else{
                //alert('2');
                $('#Files').attr('multiple','multiple');
            }
        })
    })

    function ReloadPurchaseItemGrid(){
        var _items=GetItemIDs();
        _url='/Attachment/Service_GetFilesByPurchaseItem?_itemIDs='+_items;
        $('#modal_tb_PurchaseItemFiles').jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
    }

    function DeleteAttach(ObjID,ObjType,FileName,FileType){
        $.ajaxSettings.async = false;//同步请求
        $.get('/Attachment/Service_DelAttach?ObjID='+ObjID+'&ObjType='+ObjType+'&FileName='+FileName+'&FileType='+FileType,function(res){
            if(res.Code==-1){
                alert('只允许上传附件本人删除！');
                return false;
            }
            else
                ReloadFileGrid(ObjID);           
        })
    }

    function DownloadAttach(ObjID,ObjType,FileName,FileType){
        $.ajaxSettings.async = false;//同步请求
        $.get('/Attachment/Service_FileDownLoad?ObjID='+ObjID+'&ObjType='+ObjType+'&FileName='+FileName+'&FileType='+FileType)
    }

    function GetItemIDs(){
        var selrows = $("#PRContentGrid").jqGrid('getGridParam', 'selarrrow');
        var _items='';
        if (selrows.length==0){
            selrows=  $('#PRContentGrid').getDataIDs();
        }
        for (i=0;i<selrows.length;i++){
            var _id=$('#PRContentGrid').getCell(selrows[i], "PurchaseItemID");
            _items=_items+_id+',';
        }
        _items=_items.substring(0,_items.length-1);
        return _items;
    }
</script>

<script>
    $(function() {
        $(document).tooltip();       

        $('#PRContentAdd').on('shown.bs.modal',function(){     
            //var row=$("#row").val();
            //if (row == 0) {//新增
            //    $('#tr_PlanQty').show();
            //}else{//编辑
            //    $('#tr_PlanQty').hide();
            //}
            //var _selPartModal=Number($('#_selPartModal').val());
            //$('#modal_HCClassList').empty();
            //$('#modal_BKClassList').empty();
            //switch(_selPartModal){
            //    case 1://直接材料
            //        $('._selPart1').show();
            //        $('._selPart2').hide();
            //        $('._selPart5').hide();
            //        $('#JobNo').removeAttr('readonly');
            //        break;
            //    case 2://耗材
            //        $('._selPart1').hide();
            //        $('._selPart2').show();
            //        $('._selPart5').hide();   
            //        $('#JobNo').removeAttr('readonly');
            //        HCClassImport();
            //        break;
            //    case 5://备库
            //        $('._selPart1').hide();
            //        $('._selPart2').hide();
            //        $('._selPart5').show(); 
            //        $('#JobNo').attr('readonly','readonly');
            //        BKClassImport();
            //        break;
            //}           
        });

        $('#BKClass').on('blur',function(){
            $.get('/Purchase/Service_GetBKJonNo?_bkClass='+$('#BKClass').val(),function(res){
                $('#JobNo').val(res);
            });
        });

        $('#PurchaseType').on('change',function(){
            var _selpurTypetxt=$('#PurchaseType option:selected').text();
            $('#PurchaseTypeName').val(_selpurTypetxt);
            if($('#PurchaseType').val()>0){
                $('#AddContent').removeAttr('disabled');
            }else{
                $('#AddContent').attr('disabled','disabled');
            }
            _webPurTypeIntialConfig();
        });

        $('#PRContentAdd').on('shown.bs.modal',function(){
            //var _partNum= $('#PartNumber').val();
            //if(_partNum!=null && _partNum!='' && _partNum!=undefined){//编辑零件               
            //    $('#JobNo').attr('readonly','readonly');
            //    $('#Specification').attr('readonly','readonly');      
            //}else{//新增零件
            //    $('#JobNo').removeAttr('readonly');
            //    $('#Specification').removeAttr('readonly');                
            //}            
            var row=$("#row").val();
            if (row == 0) {//新增
                $('#tr_PlanQty').show();
                $('#JobNo').removeAttr('readonly');
                $('#Specification').removeAttr('readonly');   
            }else{//编辑
                $('#tr_PlanQty').hide();
                $('#JobNo').attr('readonly','readonly');
                $('#Specification').attr('readonly','readonly');  
            }
            var _selPartModal=Number($('#_selPartModal').val());
            $('#modal_HCClassList').empty();
            $('#modal_BKClassList').empty();
            switch(_selPartModal){
                case 1://直接材料
                    $('._selPart1').show();
                    $('._selPart2').hide();
                    $('._selPart5').hide();
                    $('#JobNo').removeAttr('readonly');
                    break;
                case 2://耗材
                    $('._selPart1').hide();
                    $('._selPart2').show();
                    $('._selPart5').hide();   
                    $('#JobNo').removeAttr('readonly');
                    HCClassImport();
                    break;
                case 5://备库
                    $('._selPart1').hide();
                    $('._selPart2').hide();
                    $('._selPart5').show(); 
                    $('#JobNo').attr('readonly','readonly');
                    BKClassImport();
                    break;
                default:
                    $('._selPart1').show();
                    $('._selPart2').hide();
                    $('._selPart5').hide();
                    $('#JobNo').removeAttr('readonly');
                    break;
            } 
        });

        $('#PartSearch').on('shown.bs.modal',function(){
            _webPurTypeIntialConfig();
        })

        $('#HCClass').on('change',function(){
            GetJobNo();
        });
        $('#BKClass').on('change',function(){
            GetJobNo();
        });
    });
    function HCClassImport() {
        $.get('/Warehouse/Service_GetHCClassList', function (res) {
            $.each(res,function(i,n){
                var ohtml = "<option value='" + n.Code + "'>" + n.Name + "</option>";
                var $ohtml = $(ohtml);
                $('#modal_HCClassList').append($ohtml);
            })
        })
        //var ohtml = "<option value='123'>456</option>";
        //var $ohtml = $(ohtml);
        //$('#modal_HCClassList').append($ohtml);
    }
    function BKClassImport(){
        $.get('/Warehouse/Service_GetBKClassList', function (res) {
            $.each(res,function(i,n){
                var ohtml = "<option value='" + n.Code + "'>" + n.Name + "</option>";
                var $ohtml = $(ohtml);
                $('#modal_BKClassList').append($ohtml);
            })
        })
        //var ohtml = "<option value='123'>456</option>";
        //var $ohtml = $(ohtml);
        //$('#modal_BKClassList').append($ohtml);
    }
    function _webPurTypeIntialConfig(){
        var _purtype = Number($('#PurchaseType').val());
        var _purtypeName = $('#PurchaseTypeName').val();
        if (_purtypeName == "生产耗材") {
            $('#_selPartModal').val('2');
            $('#_selPartModalTxt').val('生产耗材');
            $('#JobNo').attr('readonly','readonly');
        } else if (_purtypeName == "模具耗材备库") {
            $('#_selPartModal').val('5');
            $('#_selPartModalTxt').val('耗材备库');
            $('#JobNo').attr('readonly','readonly');
        } else {
            $('#_selPartModal').val('1');
            $('#_selPartModalTxt').val('直接材料');
            $('#JobNo').removeAttr('readonly');
        }
    }

    function GetJobNo(){
        var _text;
        var _selPartModal = Number($('#_selPartModal').val());
        switch (_selPartModal) {
            //case 1:
            //    _text = $('#MoldNum').val();
            //    break;
            case 2:
                _text = $('#HCClass').val();
                break;
            case 5:
                _text = $('#BKClass').val();
                break;
        }
        $.ajaxSetup({  
            async : false  
        }); 
        if(_text!='' && _text!=undefined && _text!=null){
            $.get('/WareHouse/Service_WH_GetPartNumByType?_type='+_text,function(res){
                var _strs=res.split('-');
                $('#JobNo').val(_strs[1]);
                $('#PartNumber').val(res);
            });
        }else{
            alert('类型无效！');
            $('#SaveStockItem').attr('disabled','disabled');
        }     
    }
</script>