@model TechnikSys.MoldManager.Domain.Entity.PurchaseRequest
@using MoldManager.WebUI.Models.Helpers
@{
    string UserID = "";
    string UserName = "";
    try
    {
        UserID = Request.Cookies["User"]["UserID"];
        UserName = HttpUtility.UrlDecode(Request.Cookies["User"]["FullName"], System.Text.Encoding.UTF8);

    }
    catch
    {
        UserID = "";
        UserName = "";
    }

    int DeptID;
    int PosID;
    try
    {
        DeptID = Convert.ToInt32(Request.Cookies["User"]["Department"]);
    }
    catch
    {
        DeptID = 0;
    }

    try
    {
        PosID = Convert.ToInt32(Request.Cookies["User"]["Position"]);
    }
    catch
    {
        PosID = 0;
    }
}

<div style="margin-top:10px">
    

    <div class="col-sm-11">
        <h2>采购申请单 @ViewBag.RequestNumber  </h2>
        @if (ViewBag.PurchaseRequestID != 0)
        {
            <input type="hidden" id="PRModified" value="false" />
        }
        else
        {
            <input type="hidden" id="PRModified" value="true" />
        }

        <div id="Toolbar">

            @if (Model == null)
            {
                
                <button class="btn btn-primary" id="AddContent">添加零件</button>
                <button class="btn btn-primary" id="DeleteContent">删除零件</button>
                <button class="btn btn-primary" id="RequireDateSet">设置需求日期</button>
                <button class="btn btn-primary" id="CostCenterBatch">设置成本中心</button>
                <button class="btn btn-primary" id="PurchaseTypeBatch">设置采购类型</button>
                <button class="btn btn-success" id="CreatePR">保存申请单</button>
                
            }
            else
            {
                <button class="btn btn-primary" id="PRHistory">申请单历史</button>
                switch (Model.State)
                {
                    case (int)PurchaseRequestStatus.新建:
                        if (Model.DepartmentID ==DeptID)
                        {
                            <button class="btn btn-primary" id="AddContent">添加零件</button>
                            <button class="btn btn-primary" id="DeleteContent">删除零件</button>
                            <button class="btn btn-primary" id="RequireDateSet">设置需求日期</button>
                            <button class="btn btn-primary" id="CostCenterBatch">设置成本中心</button>
                            <button class="btn btn-primary" id="PurchaseTypeBatch">设置采购类型</button>
                            <button class="btn btn-success" id="CreatePR">保存申请单</button>
                            <button class="btn btn-success" id="SubmitPR">提交申请单</button>
                            <button class="btn btn-warning" id="CancelPR">取消申请单</button>
                        }

                        break;
                    case (int)PurchaseRequestStatus.待审批:
                        if (Model.DepartmentID == DeptID)
                        {
                            <button class="btn btn-primary" id="DeleteContent">删除零件</button>
                        }
                        if (PosID > 1)
                        {

                            <button class="btn btn-primary" id="ReviewPR">审批</button>
                        }
                        break;
                    case (int)PurchaseRequestStatus.审批通过:
                        if (DeptID == 4)
                        {
                            <button class="btn btn-primary" id="CreateQR">生成询价单</button>
                        }
                        if (Model.DepartmentID == DeptID)
                        {
                            <button class="btn btn-primary" id="RemoveCancel">移除订单取消项</button>
                        }
                        break;
                    case (int)PurchaseRequestStatus.完成:
                        break;
                    case (int)PurchaseRequestStatus.拒绝:
                        if (Model.DepartmentID == DeptID)
                        {
                        <button class="btn btn-primary" id="RestartPR">重启申请单</button>
                        }
                        break;
                }
            }

        </div>
        <div id="Basic" class="col-sm-10 PRInfo">
            <table>
                @if (ViewBag.PurchaseRequestID != 0)
                {
                    string status = Enum.GetName(typeof(PurchaseRequestStatus), Model.State);
                    <tr>
                        <td class="col-sm-1"><label>申请单号</label></td>
                        <td class="col-sm-2">
                            <input type="text" id="PurchaseRequestNumber" class="form-control" value="" readonly />
                            <input type="hidden" id="PurchaseRequestID" value="@Model.PurchaseRequestID" />
                        </td>
                        <td class="col-sm-1"><label>状态</label></td>
                        <td class="col-sm-2"><input type="text" id="PurchaseRequestStatus" class="form-control" value="@status" readonly></td>
                    </tr>
                    <tr>
                        <td class="col-sm-1"><label>推荐供应商</label></td>
                        <td class="col-sm-2">
                            @if (Model.State == 1)
                            {
                                <select id="SupplierID" name="SupplierID" class="form-control"></select>
                            }
                            else
                            {
                                <input type="text" id="RecommandSupplierName" class="form-control" readonly />
                                <input type="hidden" id="SupplierID" name="SupplierID" value="0" />
                            }
                            
                        </td>
                        <td class="col-sm-1">
                        @*    <label>采购类型</label>*@
                        </td>
                        <td class="col-sm-2">

                            <input type="hidden" name="PurchaseType" id="PurchaseType" value="@ViewBag.PurchaseTypeID" />
                            @*<input type="text" class="form-control" id="PurchaseTypeName" value="@ViewBag.PurchaseType" readonly />*@


                        </td>
                    </tr>


                }
                else
                {
                    <tr>                        
                        <td class="col-sm-1"><label>推荐供应商</label></td>
                        <td class="col-sm-2">
                            <select id="SupplierID" name="SupplierID" class="form-control"></select>
                        </td>
                        <td class="col-sm-1">
                            @*<label>采购类型</label>*@
                        </td>
                        <td class="col-sm-2">
                            <input type="hidden" id="PurchaseType" value="0" />
                            @*<select id="PurchaseType" class="form-control" name="PurchaseType" value="0"></select>*@

                        </td>
                    </tr>
                }
                <tr>                  
                    <td class="col-sm-1"><label>备注信息</label></td>
                    <td colspan="3" class="col-sm-5">

                        @try{
                            if (Model.State < (int)PurchaseRequestStatus.待审批)
                        {
                            <input type="text" id="PRMemo" value="@Model.Memo" class="form-control" maxlength="99" />
                        }
                        else
                        {
                            <input type="text" id="PRMemo" value="@Model.Memo" class="form-control" maxlength="99" readonly />
                        }
                        }
                        catch
                        {
                            <input type="text" id="PRMemo" value="" class="form-control" maxlength="99" />
                        }
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-sm-12" style="float:left;">
            <table id="PRContentGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
</div>

<input type="hidden" id="tempID" value="-1" />

<input type="hidden" id="row" />
@*手工添加/编辑采购项信息对话框*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="PRContentAdd" tabindex="-1" role="dialog" aria-labelledby="PRContentAddLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="PRContentAddLabel">添加零件</h4>
            </div>
            <div class="modal-body">
                <table class="table-striped col-sm-12">
                    <tr>
                        <td class="col-sm-4">零件名称</td>
                        <td class="col-sm-8">
                            <input type="text" class="form-control required" name="Name" id="Name" maxlength="50" />
                            <input type="hidden" id="PRContentID" value="0" />
                            <input type="hidden" id="MoldNumber" value="" />
                            <input type="hidden" id="VerifyFail" value="0" />
                            <input type="hidden" id="State" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">零件号</td>
                        <td class="col-sm-8"><input type="text" class="form-control required" name="PartNumber" id="PartNumber" min="0" maxlength="20" value="" /></td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">数量</td>
                        <td class="col-sm-8"><input type="number" class="form-control required" name="Quantity" id="Quantity" min="0" value="" /></td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">规格</td>
                        <td class="col-sm-8"><input type="text" class="form-control required" name="Specification" id="Specification" maxlength="100" /></td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">材料</td>
                        <td class="col-sm-8">
                            <select class="form-control" id="MaterialID" name="MaterialID">
                                <option value="0">-</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">硬度</td>
                        <td class="col-sm-8">
                            <select class="form-control" id="HardnessID" name="Hardness">
                                <option value="0">-</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">品牌</td>
                        <td class="col-sm-8">
                            <select class="form-control" id="Brand" name="BrandID"></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">供应商</td>
                        <td class="col-sm-8">
                            <select class="form-control" id="AvailableSuppliers" name="SupplierID"></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">备注</td>
                        <td class="col-sm-8">
                            <input type="text" class="form-control" name="Memo" id="Memo" maxlength="99" />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">需求日期</td>
                        <td class="col-sm-8">
                            <input type="date" class="form-control" name="RequireDate" id="RequireDate" value="" />
                        </td>
                    </tr>
                    @*<tr>
                        <td class="col-sm-4">成本归属</td>
                        <td class="col-sm-8">
                            <select class="form-control" name="CostCenterID" id="CostCenterID"></select>
                        </td>
                    </tr>*@
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="SaveContent" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

@*申请单提交*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="PRSubmitModal" tabindex="-1" role="dialog" aria-labelledby="PRSubmitModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="PRPRAcceptModalLabel">申请单提交</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td class="col-sm-2"><label>备注</label></td>
                        </tr>
                    <tr>
                        <td class="col-sm-4">
                            <textarea id="SubmitMemo" class="form-control" rows="5" style="resize:none" maxlength="99"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="PRSubmitButton">确定</button>
            </div>
        </div>
    </div>
</div>

@*申请单接受/拒绝*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="PRReviewModal" tabindex="-1" role="dialog" aria-labelledby="PRReviewModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="PRReviewModalLabel">申请单审批</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td class="col-sm-2"><label>审批结果</label></td>
                        <td class="col-sm-4">
                            <select class="form-control" id="ReviewResponse">
                                @{
                                    int response = (int)PurchaseRequestStatus.审批通过;
                                }
                                <option value="@response">通过</option>
                                @{
                                    response = (int)PurchaseRequestStatus.拒绝;
                                }
                                <option value="@response">拒绝</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-2"><label>备注</label></td>
                        <td class="col-sm-4">
                            <textarea id="ReviewMemo" class="form-control" rows="5" style="resize:none" maxlength="99"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="PRReviewButton">确定</button>
            </div>
        </div>
    </div>
</div>


@*重启申请单对话框*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="RestartPRDialog" tabindex="-1" role="dialog" aria-labelledby="RestartPRLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="RestartPRLabel">重启申请单</h4>
            </div>
            <div class="modal-body" style="height:300px">
                <h4>重启原因</h4>
                <textarea id="RestartMemo" name="Memo" rows="5" class="form-control" maxlength="99" style="resize:none"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="RestartPRBtn" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>



@*申请单历史显示*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="PRHistoryModal" tabindex="-1" role="dialog" aria-labelledby="PRHistoryLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="PRHistoryLabel">申请单历史</h4>
            </div>
            <div class="modal-body">
                <select id="PRHistoryList" class="form-control" size="20"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

@*需求日期*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="RequireDateModal" tabindex="-1" role="dialog" aria-labelledby="RequireDateLabel" >
    <div class="modal-dialog" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="RequireDateLabel">需求日期</h4>
            </div>
            <div class="modal-body">
                <input type="date" id="RequireDateVal" class="form-control">
                <input type="hidden" id="ItemIDs" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="SaveRequireDateBtn">确认</button>
            </div>
        </div>
    </div>
</div>


@*规格查询*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="PartSearch" tabindex="-1" role="dialog" aria-labelledby="RequireDateLabel">
    <div class="modal-dialog" style="width:700px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="RequireDateLabel">零件规格查询</h4>
            </div>
            <div class="modal-body">
                <table class="table-striped col-sm-12">
                    <tr>
                        <td class="col-sm-3"><label>规格关键字</label></td>
                        <td class="col-sm-8">
                            <input type="text" class="form-control" id="SpecKeyword"/>
                        </td>
                        <td class="col-sm-1">
                            <button class="btn btn-default" id="PartSearchBtn">查询</button>
                        </td>
                    </tr>
                </table>
                <table class="table-striped col-sm-12" style="display:none" id="AllParts">
                    <thead>
                        <tr>
                            <td class="col-sm-3"><label>零件名</label></td>
                            <td class="col-sm-3"><label>规格</label></td>
                            <td class="col-sm-3"><label>材料</label></td>
                        </tr>
                    </thead>
                    <tbody id="PartList">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="NewPart">新建采购项</button>
            </div>
        </div>
    </div>
</div>

@*更新明细采购类型*@
<div class="modal fade" id="PurchaseTypeModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="PurchaseTypeModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="PurchaseTypeModal-label">采购类型设置</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td class="col-sm-3"><label>一级类型</label></td>
                        <td class="col-sm-9">
                            <select id="MainType" class="form-control"></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><label>二级类型</label></td>
                        <td class="col-sm-9">
                            <select id="SubType" class="form-control"></select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="SetType">保存</button>
            </div>
        </div>
    </div>
</div>

@*更新明细成本中心*@
<div class="modal fade" id="CostCenterModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="CostCenterModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="CostCenterModal-label">成本中心设置</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td class="col-sm-3"><label>成本中心</label></td>
                        <td class="col-sm-9">
                            <select id="CostCenterID" class="form-control"></select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="SetCostCenter">保存</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("PDFTest", "Purchase", FormMethod.Post, new { id = "PDF" }))
{ <input type="hidden" id="PDFContent" name="Content" />
}

@if (ViewBag.ProjectID == 0)
{
    Html.RenderAction("MoldSelect", "Dialog");
}

<script src="~/Scripts/Purchase.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadMaterials();
        LoadSuppliers(0,1);
        //LoadCostCenters();
        GetPurchaseType();
        SetEditItemStatus();
        var _supplierID;
        @try{
            @:_supplierID=@Model.SupplierID
        }
        catch
        {
            @:_supplierID=-1;
        }
        LoadRecommandSuppliers(_supplierID);
        @if (ViewBag.PurchaseRequestID != 0)
        {
            @:PRContentGrid("", @ViewBag.PurchaseRequestID, @ViewBag.PRState,"");
                                            @:LoadProject(@ViewBag.ProjectID);
                                            @:LoadPR(@ViewBag.PurchaseRequestID);
            if (Model.SupplierID != 0)
            {
            @:LoadAssignedSupplier(@Model.SupplierID);
                                             }
            @:LoadUser(@Model.UserID, "UserName");
        }
        else if (ViewBag.PartIDs!="")
        {
            @:PRContentGrid("@ViewBag.PartIDs", 0, 0,"");
                                            if (ViewBag.ProjectID != 0)
            {
                @:LoadProject(@ViewBag.ProjectID);
                                             }
        }
        else if (ViewBag.TaskIDs != "")
        {
            @:PRContentGrid("", 0, 0,"@ViewBag.TaskIDs");
                        }
        else if (ViewBag.WarehouseStockID != "") {
            @:PRContentGrid("",0,0,"","@ViewBag.WarehouseStockIDs");
                }
        else
        {
            @:PRContentGrid("", 0, 0,"");
                                }

        $("#SelectProject").on("click", function(){
            GetProjectID($("#MoldList option:selected").val());
        })

        $("#MoldList").on("dblclick", function(){
            GetProjectID($("#MoldList option:selected").val());
        })

        $("#PartNumber").on("change", function(){
            if ($("#PartNumber").val()!=""){
                VerifyMoldNumber($("#PartNumber").val(), $("#PurchaseType").val());
            }            
        })

        $("#RequireDateSet").on("click", function(){
            ShowRequireDateSet();
        })

        $("#SaveRequireDateBtn").on("click", function(){
            SaveRequireDate( $("#RequireDateVal").val());
            $("#RequireDateModal").modal("hide");
        })

        $("#PurchaseType").on("change", function(){
            SetDefaultDate();
        })

        $("#PartSearchBtn").on("click", function(){
            PartSearch();
        })

        $("#NewPart").on("click", function(){
            NewPart();
        })

        $("#RemoveCancel").on("click", function(){
            RemoveCancelItems();
        })

        $("#PurchaseTypeBatch").on("click", function(){
            //var selrows = $("#PRContentGrid").jqGrid('getGridParam', 'selarrrow');
            //if (selrows.length>0){

                $("#PurchaseTypeModal").modal("show")
            //}else{
            //    alert("请至少选择一项申请内容")
            //}
            
        })

        $("#PurchaseTypeModal").on("shown.bs.modal", function(){
            LoadPurchaseTypeLevel("MainType")
        })

        $("#MainType").on("change", function(){
            LoadPurchaseTypeLevel("SubType", $("#MainType").val())
        })

        $("#SetType").on('click', function(){
            SetType();
        })

        $("#CostCenterBatch").on('click', function(){
            //var selrows = $("#PRContentGrid").jqGrid('getGridParam', 'selarrrow');
            //if (selrows.length>0){
                $("#CostCenterModal").modal("show")
            //}else{
            //    alert("请至少选择一项申请内容")
            //}
            
        })

        $("#CostCenterModal").on("shown.bs.modal", function(){
            LoadCostCenters()
        })

        $("#SetCostCenter").on('click', function(){
            SetCostCenter();
        })
    });


    function GetProjectID(MoldNumber){
        var _url ="/Project/GetProjectID?MoldNumber="+MoldNumber;

        $.ajax({
            url:_url,
            type:"Get",
            success:function(msg){
                $("#ProjectID").val(msg);
            }
        })
    }

    function GetPurchaseType(){
        var _url="";
        @if (ViewBag.PartIDs != "")
        {
            @:_url = "/Purchase/JsonPurchaseTypes?TypeName=模具直接材料&ContainParent=false";
                        }
        else if (ViewBag.TaskIDs!="")
        {
            @:_url = "/Purchase/JsonPurchaseTypes?TypeName=模具委外加工&ContainParent=false";
                }
        else if (ViewBag.WarehouseStockIDs!="")
        {
            @:_url = "/Purchase/JsonPurchaseTypes?TypeName=模具耗材";
        }
        else
        {
            @:_url = "/Purchase/JsonPurchaseTypes?ContainParent=false";
        }
        if (_url!=""){
            $.getJSON(_url, function(msg){
                $("#PurchaseType").append($("<option/>", {value:0,text:"-"}))
                $.each(msg, function(i,n){
                    //if (@ViewBag.TaskType==n.TaskType){
                    //    $("#PurchaseType").append($("<option/>", {value:n.PurchaseTypeID,text:n.Name, selected:true}))
                    //}else{
                        $("#PurchaseType").append($("<option/>", {value:n.PurchaseTypeID,text:n.Name}))
                    //}
                    
                        
                })
            })
        }
    }

    function VerifyMoldNumber(PartNumber, PurchaseType){
        if (PartNumber.length>=11){
            if (PurchaseType!=2){
                var _url = "/Purchase/VerifyMoldNumber?PartNumber="+PartNumber;
                $.ajax({
                    url:_url, 
                    type:"Get", 
                    success:function(msg){
                        if (msg!=""){
                            $("#MoldNumber").val(msg);
                            $("#VerifyFail").val(0);
                        }else{
                            $("#MoldNumber").val("");
                            alert("未找到零件对应模具号");
                            $("#VerifyFail").val(1);
                        }
                    }
                })
            }else{
                $("#VerifyFail").val(0);
            }
        }else{
            alert("零件号长度不能少于11位");
        }
    }

    function ShowRequireDateSet(){

        $("#RequireDateVal").val("");
        $("#RequireDateModal").modal("show");
    }

    function SaveRequireDate(RequireDate){
        var selrows = $("#PRContentGrid").jqGrid('getGridParam', 'selarrrow');
        if (selrows.length==0){
            selrows = $('#PRContentGrid').getDataIDs();
        }
        
        for (i=0;i< selrows.length;i++){
            $("#PRContentGrid").jqGrid('setCell', selrows[i], 'RequireTime', RequireDate);
        }

        
        
    }
    
    function SetDefaultDate(){
        var _typeID=Number($("#PurchaseType").val());
        if (_typeID!=0){
            var _url = "/Purchase/GetPurchaseTypeInfo?PurchaseTypeID="+_typeID;
            $.ajax({
                url:_url, 
                type:"Get", 
                success:function(msg){
                    var _defaultPeriod = Number(msg.DefaultPeriod);
                    var _curDate = new Date();
                    _curDate.setDate(_curDate.getDate()+_defaultPeriod);
                    var _defaultDate = _curDate.getFullYear()+"-"+(_curDate.getMonth()+1)+"-"+_curDate.getDate();
                    
                    SaveRequireDate(_defaultDate);
                }
            })
        }
    }




    function PartSearch(){
        var _spec = $("#SpecKeyword").val();
        var _url = "/Part/QueryBySpec?Keyword="+_spec;
        var _row = "";
        $("#AllParts").removeAttr("style");
        $("#PartList tr").remove();
        $.getJSON(_url, function(msg){
            $.each(msg, function(i, n){
                _row = "<tr><td>"+n.PartNumber+"</td><td>"+n.Specification+"</td><td>"+n.MaterialName+"</td><td>"+
                    "<button class='btn btn-primary' id='"+n.PartID+"' onclick='AddPart("+n.PartID+")'>添加</button>"+
                    "</td></tr>";
                $("#PartList").append(_row);
            })
        })

    }


    function AddPart(PartID){
        var _url = "/Part/JsonPart?PartID="+PartID;
        $.getJSON(_url, function(msg){
            var _tempID = Number($("#tempID").val())- 1;
            $("#tempID").val(_tempID);
            var _moldNumber = msg.PartNumber.substring(0,msg.PartNumber.indexOf('-'))
            data = {
                ID: _tempID,
                DrawingName: msg.Name,
                Quantity: msg.Quantity,
                PartNumber: msg.PartNumber,
                Material:  msg.MaterialName,
                Hardness: msg.Hardness,
                Specification: msg.Specification,
                BrandName: msg.BrandName,
                SupplierName: msg.SupplierName,
                Memo: "",
                State:"",
                RequireTime: "",
                MoldNumber:_moldNumber
            };
            $("#PRContentGrid").addRowData(_tempID, data, 0, 0);

        })
    }

    function NewPart(){
        $("#PartSearch").modal("hide");
        $("#PRContentAdd input").val("");
        $("#PRContentAdd select").val(0);

        $("#PRContentAdd").modal("show");
    }

    function LoadCostCenters(){
        var _url ="/Purchase/JsonCostCenters";
        $("#CostCenterID option").remove();
        $.getJSON(_url, function(msg){
            $.each(msg, function(i,n){
                //$("#CostCenterID").append($("<option/>", {value:n.CostCenterID, text:n.Name}));
                $("#CostCenterID").append($("<option/>",{
                    value:n.CostCenterID, 
                    text:n.Name
                }))
            })
        })
    }

    function RemoveCancelItems(){
        var selr = $('#PRContentGrid').jqGrid('getGridParam', 'selarrrow');
        if(selr.length==0){
            alert("请选择要删除的申请项");
        }else{
            var cancelItemName="";
            var _ids="";
            for (var i = 0; i < selr.length; i++) {
                var stateText = $("#PRContentGrid").getCell(selr[i], "State");
                if (stateText!="订单取消"){
                    var _name = $("#PRContentGrid").getCell(selr[i], "DrawingName")
                    cancelItemName= cancelItemName==""?_name:cancelItemName+","+_name;
                }else{
                    var _id =  $("#PRContentGrid").getCell(selr[i], "ID");
                    _ids = _ids==""?_id:_ids+","+_id;
                }
                if (cancelItemName!=""){
                    alert("只有处于订单取消状态的申请项才允许删除")
                }else{
                    RemovePOCancelItems(_ids);
                }
            }
        }
        
    }

    function RemovePOCancelItems(IDs){
        var _url = "/Purchase/RemovePOCancelItems?PRContentIDs="+IDs+"&PurchaseRequestID="+$("#PurchaseRequestID").val();
        $.ajax({
            url:_url, 
            type:"Get", 
            success:function(msg){
                alert(msg);
                location.reload();
            }
        })
    }

    function SetEditItemStatus(){
        @if ((Model!=null)&&(Model.State == 2))
        {
            @:$("#PRContentAdd input").attr("disabled", "disabled");
            @:$("#PRContentAdd select").attr("disabled", "disabled");
            @:$("#Quantity").removeAttr("disabled");
        }
    }


    function LoadPurchaseTypeLevel(target, parent){
        $("#"+target+" option").remove();
        
        if (parent==undefined){
            parent = 0
        }
        var _url = '/Purchase/JsonPurchaseTypeLevel?ParentID='+parent;
        var _maintext = CheckBasicType();
        $.getJSON(_url, function(msg){
            $.each(msg, function(i, n){
                if ((target=='MainType')&&(n.Name==_maintext)){
                    $("#"+target).append($("<option/>",{
                        value:n.PurchaseTypeID, 
                        text:n.Name,
                        selected:true
                    }))
                }else{
                    $("#"+target).append($("<option/>",{
                        value:n.PurchaseTypeID, 
                        text:n.Name
                    }))
                }                
            })
            if (target=='MainType'){
                LoadPurchaseTypeLevel('SubType', $('#MainType option:selected').val())
            }
            //LoadPurchaseTypeLevel("SubType", $("#MainType").val())

        })
    }

    function SetType(){
        var selrows = $("#PRContentGrid").jqGrid('getGridParam', 'selarrrow');
        if (selrows.length==0){
            selrows=  $('#PRContentGrid').getDataIDs();
        }
        

        var _text = $("#SubType option:selected").val()==undefined?$("#MainType option:selected").text():$("#SubType option:selected").text()
        var _val = $("#SubType option:selected").val()==undefined?$("#MainType option:selected").val():$("#SubType option:selected").val()
        for (i=0;i<selrows.length;i++){
            $("#PRContentGrid").setCell(selrows[i], "PurchaseType", _text);
            $("#PRContentGrid").setCell(selrows[i], "PurchaseTypeID", _val);
        }
        $("#PurchaseTypeModal").modal('hide')
    }

    function CheckBasicType(){
        var selrows = $("#PRContentGrid").jqGrid('getGridParam', 'selarrrow');
        var _partid = $("#PRContentGrid").getCell(selrows[0], "PartID")
        var _taskid = $("#PRContentGrid").getCell(selrows[0], "TaskID")
        var _stockid = $("#PRContentGrid").getCell(selrows[0], "WarehouseStockID")
        if (Number(_partid)>0){
            return "模具直接材料"
        }else if (Number(_taskid)>0){
            return "模具委外加工"
        }else if (Number(_stockid)>0){
            return "模具耗材"
        }else{
            return "固定资产"
        }
    }

    function SetCostCenter(){
        var selrows = $("#PRContentGrid").jqGrid('getGridParam', 'selarrrow');
        if (selrows.length==0){
            selrows=  $('#PRContentGrid').getDataIDs();
        }
        
        
        var _text = $("#CostCenterID option:selected").text();
        var _val = $("#CostCenterID option:selected").val();
        for (i=0;i<selrows.length;i++){
            $("#PRContentGrid").setCell(selrows[i], "CostCenterName", _text);
            $("#PRContentGrid").setCell(selrows[i], "CostCenterID", _val);
        }
        $("#CostCenterModal").modal('hide')
    }
    
</script>
