@using MoldManager.WebUI.Models.Helpers;
@using TechnikSys.MoldManager.Domain.Status
@{
    string UserID = "";
    string UserName = "";
    try
    {
        UserID = Request.Cookies["User"]["UserID"];
        UserName = HttpUtility.UrlDecode(Request.Cookies["User"]["FullName"], System.Text.Encoding.UTF8);

    }
    catch
    {
        UserID = "";
        UserName = "";
    }
}

@{
    int DeptID;
    int PosID;
    try
    {
        DeptID = Convert.ToInt32(Request.Cookies["User"]["Department"]);
    }
    catch
    {
        DeptID = 0;
    }

    try
    {
        PosID = Convert.ToInt32(Request.Cookies["User"]["Position"]);
    }
    catch
    {
        PosID = 0;
    }
}
@{
    
    ViewBag.Title = "采购管理";
}

<div id="hidden">
    <input type="hidden" id="ProjectID" value="@ViewBag.ProjectID" />
    <input type="hidden" id="State" value="@ViewBag.State" />
</div>

<h2 style="margin-top:60px">询价单列表</h2>
<div class="UD_FatherDiv">
    <div class="UD_ToolBarDiv">
        <table>
            <tr>
                <td>
                    <select id="QRState" class="form-control">
                        <option value="0">所有状态</option>
                        @foreach (int _val in @Enum.GetValues(typeof(QuotationRequestStatus)))
                        {
                            if (ViewBag.State == _val)
                            {
                                <option value="@_val" selected>@Enum.GetName(typeof(QuotationRequestStatus), _val)</option>
                            }
                            else
                            {
                                <option value="@_val">@Enum.GetName(typeof(QuotationRequestStatus), _val)</option>
                            }
                        }
                    </select>
                </td>
                <td id="td_NewQR" hidden><button class="btn btn-success" id="NewQR"><span class="glyphicon glyphicon-plus"></span> 新建</button></td>

            </tr>
        </table>
    </div>
    <div class="UD_TableDiv">
        <table id="QRListGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script src="~/Scripts/Purchase.js"></script>
<script>
    $("document").ready(function(){

        $(window).resize(function () {
            $("#QRListGrid").setGridWidth($('.UD_TableDiv').eq(0).width());
            $("#QRListGrid").setGridHeight($('.UD_TableDiv').eq(0).height()-40);
        });

        QRListGrid(@ViewBag.ProjectID, @ViewBag.State, @ViewBag.UserID);
        $("#PRState option[value=@ViewBag.State]").attr("selected", "true");

        @*if(@DeptID==4){
            $('#td_NewQR').show();
        }else{
            $('#td_NewQR').hide();
        }*@
    })


    function ChangeGridStatus(){
        var _url = "/Purchase/JsonQRList?State="+$("#QRState").val();
        $("#QRListGrid").jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
    }
</script>
@{Html.RenderAction("MoldSelect", "Dialog");}

