@{
    ViewBag.Title = "创建订单";
}
@section Header{
    <link rel="stylesheet" href="~/Content/bootstrap-switch.css" />
    <script src="~/Scripts/bootstrap-switch.js"></script>
}
<style>
    #POContentGrid td {
        margin: 0px !important;
        padding: 0px !important;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
    }

    #POContentGrid input {
        height: 24px;
        border-style: none;
        outline: none;
        font-size: 12px;
        margin: 0px;
        padding: 0px;
    }

    td {
        text-align: center;
        padding: 0px !important;
    }

        /*td input {
            height: 30px;
            margin-top: 2px;
            margin-left: 2px;
        }

        td button {
            width: 90%;
            margin-left: 5%;
            height: 30px;
            margin-top: 2px;
        }

        td select {
            height: 30px;
            margin-top: 2px;
            margin-left: 2px;
        }*/

    .bootstrap-switch-Normal {
        height: 30px !important;
    }

    .bootstrap-switch-container {
        height: 32px !important;
        margin-top: 2px;
    }

        .bootstrap-switch-container span {
            line-height: 32px !important;
            width: 32px !important;
            margin: 0px !important;
            padding: 0px !important;
            font-size: 20px !important;
        }
</style>

<style>
    .LMR_FatherDiv{
        position:absolute;
        top:100px;
        left:10px;
        right:10px;
        bottom:10px;
    }
    .LMR_LeftDiv{
        position:absolute;
        top:0px;
        bottom:0px;
        left:0px;
        width:47%;
        /*border:1px solid blue;*/
    }
    .LMR_Left_ToolbarDiv{
        position:absolute;
        top:0px;
        bottom:0px;
        left:0px;
        width:100%;
        height:40px;
        border:1px solid rgba(0,0,0,0.1);
    }
    .LMR_Left_TableDiv{
        position:absolute;
        top:40px;
        bottom:0px;
        left:0px;
        width:100%;
        border:1px solid rgba(0,0,0,0.1);
    }
    .LMR_MiddleDiv{
        position:absolute;
        top:0px;
        bottom:0px;
        left:47%;
        width:6%;
        min-width:91px;
        border:1px solid rgba(0,0,0,0.1);
    }
    .LMR_RightDiv{
        position:absolute;
        top:0px;
        bottom:0px;
        right:0px;
        width:47%;
        /*border:1px solid yellow;*/
    }
    .LMR_Right_ToolbarDiv{
        position:absolute;
        top:0px;
        bottom:0px;
        right:0px;
        width:100%;
        height:40px;
        border:1px solid rgba(0,0,0,0.1);
    }
    .LMR_Right_TableDiv{
        position:absolute;
        top:40px;
        bottom:0px;
        right:0px;
        width:100%;
        border:1px solid rgba(0,0,0,0.1);
    }
</style>

<div>
    <input type="number" id="pr_tempID" value="-1" hidden />
    <input type="number" id="po_tempID" value="-1" hidden />
    <input type="hidden" id="po_purType" value="0" hidden />
    <input type="hidden" id="ActiveCol" />
</div>

<div style="margin-top:60px;">
    <h2>采购订单维护 </h2>
</div>
<div class="LMR_FatherDiv">
    <div class="LMR_LeftDiv">
        <div class="LMR_Left_ToolbarDiv">
            <table>
                <tr>
                    <td>
                        <input type="text" class="form-control" placeholder="模具号/零件名关键字" id="Keyword" value="@ViewBag.Keyword" />
                    </td>
                    <td>
                        <button class="btn btn-info" id="Search"><span class="glyphicon glyphicon-search"></span> 查询</button>
                    </td>
                    <td>采购类型</td>
                    <td>
                        @if (ViewBag.PurchaseItemIDs == "")
                        {
                            <select class="form-control" id="PurchaseType"></select>
                        }
                        else
                        {
                            <select class="form-control" id="PurchaseType" disabled></select>
                        }
                    </td>
                    <td>询价结果</td>
                    <td>
                        <input id="PurchaseState" value="2" hidden />
                        <div class="switch">
                            <input id="PurchaseStateSwitch" type="checkbox" data-size="Normal" data-on-color="primary" data-off-color="warning" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="LMR_Left_TableDiv">
            <table id="PRContentGrid"></table>
        </div>
    </div>
    <div class="LMR_MiddleDiv">
        <p id="poContentAdd" style="cursor:pointer;width:80%;margin-left:10%;line-height:120px;float:left;border:1px rgba(0,0,0,0) solid;text-align:center;font-size:80px;font-weight:bold;margin-top:60px;background-color:rgba(0,0,0,0);color:rgba(220,220,220,1);text-shadow:2px 2px 8px rgba(0,0,0,1); padding:0px;"><span class="glyphicon glyphicon-arrow-right"></span></p>
        <p id="poContentDecrease" style="cursor:pointer;width:80%;margin-left:10%;line-height:80px;float:left;border:1px rgba(0,0,0,0) solid;text-align:center;font-size:80px;font-weight:bold;margin-top:20px;background-color:rgba(0,0,0,0);color:rgba(220,220,220,1);text-shadow:2px 2px 8px rgba(0,0,0,1);padding:0px;"><span class="glyphicon glyphicon-arrow-left"></span></p>
    </div>
    <div class="LMR_RightDiv">
        <div class="LMR_Right_ToolbarDiv">
            <table>
                <tr>
                    <td>
                        <button class="btn btn-success" id="CreatePO"><span class="glyphicon glyphicon-plus"></span> 新建订单</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="LMR_Right_TableDiv">
            <table id="POContentGrid"></table>
        </div>
    </div>
</div>


@*待采购项右键菜单*@
<div class="contextMenu dropdown" id="PurchaseItemContextMenu" style="display:none">
    <ul style="width:200px">

        <li id="AddItem">
            <span class="ui-icon ui-icon-pencil" style="float:left"><img src="~/Images/arrow-right.png" /></span>
            <span style="font-size:12px; font-family:Verdana">加入订单</span>
        </li>
      </ul>
</div>

@*采购项右键菜单*@
<div class="contextMenu dropdown" id="POItemContextMenu" style="display:none">
    <ul style="width:200px">
        <li id="DeliveryDate">
            <span class="ui-icon ui-icon-pencil" style="float:left"><img src="~/Images/calendar.png" /></span>
            <span style="font-size:12px; font-family:Verdana">设置交货日期</span>
        </li>
        <li id="BatchPriceShow">
            <span class="ui-icon ui-icon-pencil" style="float:left"><img src="~/Images/money-2.png" /></span>
            <span style="font-size:12px; font-family:Verdana">批量设置单价</span>
        </li>
        <li id="HistoryPrice">
            <span class="ui-icon ui-icon-pencil" style="float:left"><img src="~/Images/money-2.png" /></span>
            <span style="font-size:12px; font-family:Verdana">历史价格查询</span>
        </li>
        <li id="RemoveItem">
            <span class="ui-icon ui-icon-pencil" style="float:left"><img src="~/Images/Delete.png" /></span>
            <span style="font-size:12px; font-family:Verdana">移除订单项</span>
        </li>
    </ul>
</div>

@*交付日期设置对话框*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="DeliveryDateDialog" tabindex="-1" role="dialog" aria-labelledby="DeliveryDateLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="DeliveryDateLabel">交货日期</h4>
            </div>
            <div class="modal-body">
                <input type="date" id="DeliveryDateValue" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="SaveDeliveryDate" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

@*批量单价设置对话框*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="BatchUnitPriceDialog" tabindex="-1" role="dialog" aria-labelledby="BatchUnitPriceLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="BatchUnitPriceLabel">设置选中项单价</h4>
            </div>
            <div class="modal-body">
                <input type="number" id="BatchUnitPrice" class="form-control" min="0"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="BatchUnitPriceSet" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>


@*价格历史查询对话框*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="HistoryPriceDialog" tabindex="-1" role="dialog" aria-labelledby="HistoryPriceLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:550px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="HistoryPriceLabel">历史价格</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped col-sm-12">
                    <thead>
                        <tr>
                            <td class="col-sm-3"><label>零件名</label></td>
                            <td class="col-sm-3"><label>供应商</label></td>
                            <td class="col-sm-3"><label>价格</label></td>
                            <td class="col-sm-3"><label>采购日期</label></td>
                        </tr>
                    </thead>
                    <tbody id="ItemList">
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.contextmenu.r2.packed.js"></script>
<script src="~/Scripts/JqGridTemplate.js"></script>
<script src="~/Scripts/Purchase.js"></script>

<script>
    $(document).ready(function(){

        PRContent_PO_T("",0);
        POContent_PO_T("@ViewBag.PurchaseItemIDs");

        $(window).resize(function () {
            $("#PRContentGrid").setGridWidth($('.LMR_Left_TableDiv').eq(0).width());
            $("#PRContentGrid").setGridHeight($('.LMR_Left_TableDiv').eq(0).height() - 40);
            $("#POContentGrid").setGridWidth($('.LMR_Right_TableDiv').eq(0).width());
            $("#POContentGrid").setGridHeight($('.LMR_Right_TableDiv').eq(0).height() - 40);
        });
        $("#CreatePO").on("click", function () {
            TransferPO();
        })
    });
</script>

<script>
    $("document").ready(function () {
        
        LoadSuppliers();
        LoadPurchaseTypes();
        

        SupplierListImport('SupplierIDD');

        $("#Search").on("click", function () {
            if ($("#Keyword").val() != "") {
                LoadPRContents($("#Keyword").val(), $("#PurchaseType").val());
            } else {
                alert("请输入查询关键字");
            }
        })

        $("#PurchaseType").on("change", function () {
            LoadPRContents($("#Keyword").val(), $("#PurchaseType").val());
        })

        $("#SaveDeliveryDate").on("click", function () {
            SetDeliveryDate();
        })

        $("#BatchUnitPriceSet").on("click", function(){
            SavePriceBatch();
        })
    })

    function LoadPRContents(Keyword, PurchaseType, Exclude) {
        if (Exclude==undefined){
            Exclude=GetExistingPOItemIDs();
        }
        var _url = "/Purchase/JsonPurchaseItems?Keyword=" + Keyword +"&PurchaseType="+PurchaseType+ "&State=30&ExcluedIDs="+Exclude+'&PurchaseState='+$('#PurchaseState').val();
        $("#PRContentGrid").jqGrid('setGridParam', {datatype:'json', url: _url }).trigger("reloadGrid");
    }

    function LoadSuppliers() {
        var _url = "/Purchase/JsonSuppliers";
        $("#Supplier option").remove();
        $.getJSON(_url, function (msg) {
            $.each(msg, function (i, n) {
                $("#Supplier").append($("<option/>", {
                    value: n.SupplierID,
                    text:n.Name
                }))
            })
        })
    }

    function LoadPurchaseTypes() {
        var _url = "/Purchase/JsonPurchaseTypeTree";
        $("#PurchaseType option").remove();
        $.getJSON(_url, function (msg) {
            $.each(msg, function (i, n) {
                if (n.ParentTypeID == 0) {
                    if (@ViewBag.PurchaseType==n.PurchaseTypeID){
                        $("#PurchaseType").append($("<option/>", {
                            value: n.PurchaseTypeID,
                            text: n.Name,
                            selected:true
                        }))
                    }else{
                        $("#PurchaseType").append($("<option/>", {
                            value: n.PurchaseTypeID,
                            text: n.Name
                        }))
                    }

                } else {
                    if (@ViewBag.PurchaseType==n.PurchaseTypeID){
                        $("#PurchaseType").append($("<option/>", {
                            value: n.PurchaseTypeID,
                            text: "-"+n.Name,
                            selected:true
                        }))
                    }else{
                        $("#PurchaseType").append($("<option/>", {
                            value: n.PurchaseTypeID,
                            text: "-"+n.Name
                        }))
                    }
                }
            })
            LoadPRContents($("#Keyword").val(), $("#PurchaseType").val(), "@ViewBag.PurchaseItemIDs");
        })
    }

    function ShowSetDeliverDate() {
        $("#DeliveryDateDialog").modal("show");
    }

    function SetDeliveryDate() {
        var rowNo = $('#POContentGrid').jqGrid('getGridParam', 'selarrrow');
        //$("#POContentGrid").getGridParam("selrow");
        for (i = 0; i < rowNo.length; i++) {

            $("#POContentGrid").jqGrid('setCell', rowNo[i], 'DeliverDate', $("#DeliveryDateValue").val());
        }
        $("#DeliveryDateDialog").modal("hide");
    }    

    function ShowBatchPrice(){
        $("#BatchUnitPriceDialog").modal("show");
    }

    function SavePriceBatch(){
        if ($("#BatchUnitPrice").val()==0){
            alert("单价不能为0");
            return false;
        }else{
            var rowNo = $('#POContentGrid').jqGrid('getGridParam', 'selarrrow');
            for (i = 0; i < rowNo.length; i++) {                
                var _qty ;
                var _total;
                //if (_outsource){
                //    var _memo = $("#POContentGrid").getCell(rowNo[i], 'Memo');
                //    _qty= _memo.substring(0, _memo.length-1);
                //}else{
                //    _qty = $("#POContentGrid").getCell(rowNo[i], 'Quantity');
                //}
                _qty=$("#POContentGrid").getCell(rowNo[i], 'Quantity');
                if(_qty.indexOf('input')>=0){
                    $("#" + rowNo[i] + "_UnitPriceWT").val($("#BatchUnitPrice").val());
                    UpdateTotal(rowNo[i]);
                    //$("#POContentGrid").jqGrid('setCell', rowNo[i], 'UnitPriceWT', $("#BatchUnitPrice").val());
                }else{
                    _total= Number(_qty)*Number($("#BatchUnitPrice").val());
                    $("#POContentGrid").jqGrid('setCell', rowNo[i], 'UnitPriceWT', $("#BatchUnitPrice").val());
                    $("#POContentGrid").jqGrid('setCell', rowNo[i], 'TotalPriceWT',_total);
                }               
            }
            $("#DeliveryDateDialog").modal("hide");
            $("#BatchUnitPriceDialog").modal("hide");
            //var _url = "/Purchase/OrderOutSource?PurchaseTypeID="+$("#PurchaseType").val();

            //$.ajax({
            //    url:_url,
            //    type:"Get", 
            //    success:function(msg){
            //        var _outsource;
            //        if (msg=="True"){
            //            _outsource = true;
            //        }else{
            //            _outsource = false;
            //        }
            //        //
            //    }
            //})
            
        }
    }

    function ShowHistory(){
        var selr = $('#POContentGrid').jqGrid('getGridParam', 'selarrrow');
        $("#ItemList tr").remove();
        if (selr.length==1){
            var _id = $('#POContentGrid').getCell(selr[0], "PurchaseItemID");

            var _url = "/Purchase/FindHistoryPart?purchaseitemid="+_id;
            console.log(_url);
            $.getJSON(_url, function(msg){
                $.each(msg, function(i,n){
                    $("#ItemList").append("<tr><td>"+n.Name+"</td><td>"+n.Supplier+"</td><td>"+n.Price+"</td><td>"+n.Date+"</td></tr>")
                })

                $("#HistoryPriceDialog").modal("show");
            })
        }else{
            alert("请选择一个零件再进行历史价格查询");
        }
        
    }
</script>

<script>
    $(document).ready(function(){
        $('#poContentAdd').on('click',function(){
            //var _itemIDs = GetMultiSelectedIDs("PRContentGrid");
            //console.log(_itemIDs);
            //AddPOItem(_itemIDs);
            var selr = $('#PRContentGrid').jqGrid('getGridParam', 'selarrrow');
            var itemIDs1=[];
            itemIDs1= AddPOContent(selr);
            RemoveContent('PRContentGrid',itemIDs1);
        });
        $('#poContentDecrease').on('click',function(){
            //var _itemIDs = GetMultiSelectedIDs("POContentGrid");
            var selr = $('#POContentGrid').jqGrid('getGridParam', 'selarrrow');
            var itemIDs1=[];
            itemIDs1=AddPRContent(selr);
            RemoveContent('POContentGrid',itemIDs1);
        });
        //$('#PurchaseState').on('change',function(){
        //    LoadPRContents($("#Keyword").val(), $("#PurchaseType").val());
        //})
    })

    function RemovePOItem() {
    
        var selr = $('#POContentGrid').jqGrid('getGridParam', 'selarrrow');
        var len = selr.length;
        for (i=0;i<len;i++){
            $('#POContentGrid').jqGrid('delRowData', selr[0]);
        }
        LoadPRContents($("#Keyword").val(), $("#PurchaseType").val(), GetExistingPOItemIDs());
    }
    function AddPOItem(itemIDs) {
        var selr = $('#PRContentGrid').jqGrid('getGridParam', 'selarrrow');
        var len = selr.length;
        for (i = 0; i < len ; i++) {
            $('#PRContentGrid').jqGrid('delRowData', selr[0]);
        }
        var _url = $("#POContentGrid").jqGrid("getGridParam", "url");

        if (_url == "") {
            _url = "/Purchase/AddPOItem?ItemIDs=" + itemIDs;
        } else {
            _url = _url + "," + itemIDs;
        }
        $("#POContentGrid").jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
    }
    function GetExistingPOItemIDs(){
        var ids= $("#POContentGrid").getDataIDs();
        var _result = "";
        for (i=0;i<ids.length;i++){
            _result = _result==""?$("#POContentGrid").getCell(ids[i], "PurchaseItemID"):_result+","+$("#POContentGrid").getCell(ids[i], "PurchaseItemID")
        }
        return _result;
    }
    //michael 181206
    function AddPOContent(itemIDs){
        var errorPart1='';
        var _purState=Number($('#PurchaseState').val());
        var supplier='';
        var purType='0';
        var fQRPurObj=0;
        var itemIDs1=[];
        var z=0;
        var obj=$("#POContentGrid").jqGrid("getRowData");
        if(obj.length==0){
            $('#po_purType').val('0');
        }
        purType=$('#po_purType').val();
        for (var i = 0; i < itemIDs.length; i++){
            var rowData = $("#PRContentGrid").jqGrid('getRowData', itemIDs[i]);
            //if(_purState==1){//询价结果 无
                
                
            //}else{
            //    if(supplier==''){
            //        fQRPurObj=i;
            //        supplier=rowData.Supplier;
            //    }
            //    itemIDs1[z]=itemIDs[i];
            //    z++;
            //    $('#SupplierName').remove('readonly');
            //}
            if(purType=='0'){
                if(purType=='0' || purType==rowData.PurchaseTypeID){
                    fQRPurObj=i;
                    purType=rowData.PurchaseTypeID;
                    itemIDs1[z]=itemIDs[i];
                    z++;

                    $('#po_purType').val(purType);
                    //$('#SupplierName').attr('readonly','readonly');
                }else{
                    errorPart1=errorPart1+rowData.PartNumber+';';
                }                   
            }else{
                if(rowData.PurchaseTypeID==purType){
                    itemIDs1[z]=itemIDs[i];
                    z++;
                    //$('#SupplierName').attr('readonly','readonly');                       
                }else{
                    errorPart1=errorPart1+rowData.PartNumber+';';
                }
            }
        }
        //if($('#SupplierName').val()=='' || $('#SupplierName').val()==undefined){
        //    $('#SupplierName').val(supplier);
        //}
               
        //if($('#SupplierName').val()=='' || $('#SupplierName').val()==undefined){
        //    for (var i = 0; i < itemIDs.length; i++) {
        //        $('#POContentGrid').jqGrid('saveRow',itemIDs[i]);
        //        var rowData = $("#PRContentGrid").jqGrid('getRowData', itemIDs[i]);
        //        if(rowData.State=='待采购'){//已指定供应商
        //            if(supplier==''){
        //                fQRPurObj=i;
        //                supplier=rowData.Supplier;
        //            }else if(rowData.Supplier!=supplier){
        //                //itemIDs.splice(i,1);//删除
        //                errorPart1=errorPart1+rowData.PartNumber+';';
        //            }else{

        //            }
        //            $('#SupplierName').attr('readonly','readonly');
        //        }
        //    };                       
        //    if(supplier==''){
        //        for (var i = 0; i < 1; i++) {
        //            $('#POContentGrid').jqGrid('saveRow',itemIDs[i]);
        //            var rowData = $("#PRContentGrid").jqGrid('getRowData', itemIDs[i]);
        //            supplier=rowData.Supplier;
        //        };
        //        $('#SupplierName').remove('readonly');
        //    }
        //    $('#SupplierName').val(supplier);
        //}else{              
        //    for (var i = 0; i < itemIDs.length; i++) {
        //        $('#POContentGrid').jqGrid('saveRow',itemIDs[i]);
        //        var rowData = $("#PRContentGrid").jqGrid('getRowData', itemIDs[i]);
        //        if(rowData.State=='待采购'){//已指定供应商
        //            if($('#SupplierName').val()!=rowData.Supplier){
        //                //itemIDs.splice(i,1);//删除
        //                errorPart1=errorPart1+rowData.PartNumber+';';
        //            }
        //        }
        //    }
        //}
        for (var i = 0; i < itemIDs1.length; i++) {
            $('#POContentGrid').jqGrid('saveRow',itemIDs1[i]);
            var rowData = $("#PRContentGrid").jqGrid('getRowData', itemIDs1[i]);
            console.log(rowData);
            var _tempID = Number($("#pr_tempID").val())- 1;
            $("#pr_tempID").val(_tempID);
            
            data = {
                PurchaseItemID:rowData.ID,
                Name:rowData.Name,
                PartNumber:rowData.PartNumber,
                Specification:rowData.Specification,
                Quantity:rowData.Quantity,
                PRQuantity:rowData.Quantity,
                UnitPriceWT:rowData.UnitPriceWT,
                TotalPriceWT:rowData.TotalPriceWT,
                DeliverDate:rowData.DeliverDate,

                State:rowData.State,
                PurchaseType:rowData.PurchaseType,
                PurchaseRequest:rowData.PurchaseRequest,
                QuotationRequest:rowData.QuotationRequest,
                PurchaseOrder:rowData.PurchaseOrder,
                Supplier:rowData.Supplier,
                Memo:rowData.Memo,
                PRMemo:rowData.Memo,
            };
            $("#POContentGrid").addRowData(_tempID, data, 0, 0);
        }
        if(errorPart1!=''){
            //alert('零件['+errorPart1+']已指定供应商与页面供应商不符,请重新选择供应商！');
            console.log('零件['+errorPart1+'] 采购类型不一致！');
        } 
        return itemIDs1;
    }

    function AddPRContent(itemIDs){
        var _purState=Number($('#PurchaseState').val());
        var itemIDs1=[];
        var z=0;
        for (var i = 0; i < itemIDs.length; i++){
            $('#POContentGrid').jqGrid('saveRow',itemIDs[i]);
            var rowData = $("#POContentGrid").jqGrid('getRowData', itemIDs[i]);
            if(_purState==1){
                if(rowData.State=='待采购'){
                    itemIDs1[z]= itemIDs[i];//.splice(i,1);//删除
                    z++;
                }
            }else{
                if(rowData.State!='待采购'){
                    itemIDs1[z]=itemIDs[i];//.splice(i,1);//删除
                    z++;
                }
            }
        }
        console.log(z+' '+itemIDs1);
        for (var i = 0; i < itemIDs1.length; i++) {
            $('#POContentGrid').jqGrid('saveRow',itemIDs1[i]);
            var rowData = $("#POContentGrid").jqGrid('getRowData', itemIDs1[i]);
            console.log(rowData);
            var _tempID = Number($("#po_tempID").val())- 1;
            $("#po_tempID").val(_tempID);
            data = {
                ID:rowData.PurchaseItemID,
                Name:rowData.Name,
                PartNumber:rowData.PartNumber,
                Specification:rowData.Specification,
                Quantity:rowData.PRQuantity,
                UnitPriceWT:rowData.UnitPriceWT,
                TotalPriceWT:rowData.TotalPriceWT,
                DeliverDate:rowData.DeliverDate,
                Memo:rowData.PRMemo,

                State:rowData.State,
                PurchaseType:rowData.PurchaseType,
                PurchaseRequest:rowData.PurchaseRequest,
                QuotationRequest:rowData.QuotationRequest,
                PurchaseOrder:rowData.PurchaseOrder,
                Supplier:rowData.Supplier,
            };
            $("#PRContentGrid").addRowData(_tempID, data, 0, 0);
        }
        return itemIDs1;
    }

    function RemoveContent(GridID,itemIDs1){
        var selr=[];
        var selr1=[];
        if(GridID=='PRContentGrid'){
            selr=itemIDs1;
        }else{
            selr= $('#'+GridID).jqGrid('getGridParam', 'selarrrow');
        }
        //if(itemIDs1==undefined){
        //    selr= $('#'+GridID).jqGrid('getGridParam', 'selarrrow');
        //}else{
        //    selr=itemIDs1;
        //}
        
        console.log(selr);
        var len = selr.length;
        for (i=0;i<selr.length;i++){
            selr1[i]=selr[i];
        }
        for (i=0;i<selr1.length;i++){
            var rowData = $("#PRContentGrid").jqGrid('getRowData', selr1[i]);
            console.log(rowData);
            $('#'+GridID).jqGrid('delRowData', selr1[i]);
        }
        $('#'+GridID).jqGrid('resetSelection');
        if(GridID=='POContentGrid'){
            var obj=$("#POContentGrid").jqGrid("getRowData");
            console.log(obj);
            var isStateValid=true;
            for(var i=0;i<obj.length;i++){
                var rowData = $("#PRContentGrid").jqGrid('getRowData', obj[i]);
                if(rowData.State=='待采购'){//已指定供应商
                    isStateValid=false;
                }
            }
            //if(isStateValid){
            //    $('#SupplierName').removeAttr('readonly');
            //}
        }
    }

    function CancelRowEdit(itemIDs){
        for(var i=0;i<itemIDs.length;i++){
            $('#POContentGrid').jqGrid('editRow', itemIDs[i], false);
        }        
    }
</script>

<script>
    $(document).ready(function(){   
        //window.onresize=function(){  
        //    $("#PRContentGrid").jqGrid("setGridHeight", $('#div_tb_left').height() - 42);
        //    $("#POContentGrid").jqGrid("setGridHeight", $('#div_tb_right').height() - 42);

        //    $("#PRContentGrid").jqGrid("setGridWidth", $('#div_tb_left').width() - 2);
        //    $("#POContentGrid").jqGrid("setGridWidth", $('#div_tb_right').width() - 2);
        //}
        $('#PurchaseStateSwitch').bootstrapSwitch({
            onText: '有',
            offText: '无',
            onSwitchChange:function(event,state){switchChange(event,state)},
        });
        function switchChange(event,state){
            if(state){
                $('#PurchaseState').val(1);
            }else{
                $('#PurchaseState').val(2);
            }
            console.log($('#PurchaseState').val());
            LoadPRContents($("#Keyword").val(), $("#PurchaseType").val());
        }
    })
</script>