@{
    ViewBag.Title = "零件出库记录";
}

<div>
    <input type="hidden" id="hMoldNumber" value="@ViewBag.MoldNumber" />
    <input type="hidden" id="hKeyword" value="@ViewBag.Keyword" />
</div>

<h2 style="margin-top:60px">@ViewBag.Title</h2>
<div class="FatherDiv">
    <div class="LeftDiv">
        <button class="btn btn-primary LeftDiv_Btn" id="RefreshMold">刷新模号列表</button>
        <input type="text" id="MoldKeyword" class="form-control LeftDiv_Inpt" placeholder="模具号关键字" />
        <select class="form-control LeftDiv_Sel" id="MoldNumber" size="3"></select>
    </div>
    <div class="RightDiv">
        <div class="RightDiv_TopDiv">
            <table>
                <tr>
                    <td>开始时间</td>
                    <td><input type="date" value="" id="StartDate" class="form-control" placeholder="开始时间" /></td>
                    <td>结束时间</td>
                    <td><input type="date" value="" id="EndDate" class="form-control" placeholder="结束时间" /></td>
                    <td><input type="text" value="" id="Keyword" class="form-control" placeholder="零件/物料关键字" /></td>
                    <td><button class="btn btn-info" id="Query"><span class="glyphicon glyphicon-search"></span> 查询</button></td>
                </tr>
            </table>
        </div>
        <div class="RightDiv_BottomDiv">
            <table id="OutStockHistoryGrid"></table>
        </div>
    </div>
</div>


<script src="~/Scripts/JqGridTemplate.js"></script>
<script>
    $("document").ready(function () {

        $(window).resize(function () {
            $("#OutStockHistoryGrid").setGridWidth($('.RightDiv_BottomDiv').eq(0).width());
            $("#OutStockHistoryGrid").setGridHeight($('.RightDiv_BottomDiv').eq(0).height() - 40);
        });

        //var _listsize = Math.round((document.documentElement.clientHeight-210) / 18);
        //$("#MoldNumber").attr("size", _listsize);


        LoadMoldNumber("");
        OutStockHistory("@ViewBag.MoldNumber", "@ViewBag.Keyword");

        $("#RefreshMold").on("click", function () {
            LoadPurchaseOrders("", $("#MoldNumber").val());
        })

        $("#MoldKeyword").on("keyup", function () {
            LoadMoldNumber($("#MoldKeyword").val());
        })

        $("#Query").on("click", function () {
            $("#hKeyword").val($("#Keyword").val());
            OutStockQuery();
        })

        $("#MoldNumber").on("change", function () {
            $("#hMoldNumber").val($("#MoldNumber").val());
            OutStockQuery();
        })
    })

    function GetURL() {
        var _moldNumber = $("#hMoldNumber").val();
        var _keyword = $("#hKeyword").val();
        return "/Warehouse/JsonOutStock?MoldNumber=" + _moldNumber + "&Keyword=" + _keyword + "&StartDate="
            + $("#StartDate").val() + "&EndDate=" + $("#EndDate").val();
    }

    function OutStockQuery() {
        var _url = GetURL();
        $("#OutStockHistoryGrid").jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
    }

    function LoadMoldNumber(Keyword, MoldNumber) {
        var _url = "/Warehouse/JsonOutStockMoldNumber";
        if (Keyword != "") {
            _url = _url + "?Keyword=" + Keyword;
        } else {
            _url = _url + "?Keyword=";
        }
        $("#MoldNumber option").remove();
        
        $.getJSON(_url, function (msg) {
            $("#MoldNumber").append($("<option/>", { text: "All", value: "" }))
            $.each(msg, function (i, n) {

                if (MoldNumber == n) {
                    $("#MoldNumber").append($("<option/>", {
                        text: n,
                        value: n,
                        selected:true
                    }))
                } else {
                    $("#MoldNumber").append($("<option/>", {
                        text: n,
                        value: n
                    }))
                }
                
            })
        })
    }
</script>


