
@{
    ViewBag.Title = "领料申请单";
}
@using TechnikSys.MoldManager.Domain.Status;

<div class="hidden">
    <input type="hidden" id="MoldNumber" value="@ViewBag.MoldNumber" />

</div>

<h2 style="margin-top:60px">@ViewBag.MoldNumber 领料申请单</h2>
<div class="UD_FatherDiv">
    <div class="UD_ToolBarDiv">
        <table>
            <tr>
                <td>
                    <select id="ChangeState_Sel" class="form-control form-inline">
                        @foreach (var s in (Dictionary<string, int>)ViewBag.WHRequestStates)
                        {
                            if (ViewBag.State == s.Value)
                            {
                                <option value="@(s.Value)" selected>@(s.Key)</option>
                            }
                            else
                            {
                                <option value="@(s.Value)">@(s.Key)</option>
                            }
                        }
                    </select>
                </td>
                <td><button class="btn btn-info" id="RequestQuery"><span class="glyphicon glyphicon-search"></span> 查询</button></td>
                <td><button class="btn btn-success" id="NewWHRequest"><span class="glyphicon glyphicon-plus"></span> 新建</button></td>
            </tr>
        </table>
    </div>
    <div class="UD_TableDiv">
        <table id="WHRequestGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>


<div class="modal" data-backdrop="static" data-keyboard="false" id="RequestSearchDialog" tabindex="-1" role="dialog" aria-labelledby="RequestSearchLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="target" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="RequestSearchLabel">领料申请单查询</h4>
            </div>
            <div class="modal-body">


                            <table class="col-sm-12">
                                <tr>
                                    <td class="col-sm-4">领料单号</td>
                                    <td class="col-sm-8">
                                        <input type="text" id="RequestKeyword" class="form-control" placeholder="领料单号关键字" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-4"><label>关键字</label></td>
                                
                                    <td class="col-sm-8"><input type="text" id="ItemKeyword" class="form-control" placeholder="领料明细关键字" /></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-4"><label>开始日期</label></td>

                                    <td class="col-sm-8"><input type="date" id="StartDate" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td class="col-sm-4"><label>结束日期</label></td>

                                    <td class="col-sm-8"><input type="date" id="EndDate" class="form-control" /></td>
                                </tr>
                            </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="QueryBtn" class="btn btn-primary">查询</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/JqGridTemplate.js"></script>
<script src="~/Scripts/Warehouse.js"></script>
<script>

    $("document").ready(function () {

        $(window).resize(function () {
            $("#WHRequestGrid").setGridWidth($('.UD_TableDiv').eq(0).width());
            $("#WHRequestGrid").setGridHeight($('.UD_TableDiv').eq(0).height() - 40);
        });

        WHRequestGrid(@ViewBag.State);

        $("#NewWHRequest").on("click", function () {
            location.href = "/Warehouse/WHRequestDetail";
        });

        $("#RequestQuery").on("click", function () {
            $("#RequestSearchDialog").modal("show")
        });

        $("#QueryBtn").on("click", function () {
            WarehouseRequestQuery();
        });

        $('#ChangeState_Sel').on('change', function () {
            WarehouseRequestQuery();
        });
    })


    function LoadWHRequest(ID) {
        location.href = "/Warehouse/WHRequestDetail?WHRequestID=" + ID
    }

    function WarehouseRequestQuery() {
        var _url = "/Warehouse/JsonWarehouseRequests?Keyword=" + $("#ItemKeyword").val()
            + "&RequestKeyword=" + $("#RequestKeyword").val()
        + "&StartDate=" + $("#StartDate").val()
        + "&EndDate=" + $("#EndDate").val()
        + "&State=" + $('#ChangeState_Sel').val();
        console.log(_url);
        $("#WHRequestGrid").jqGrid('setGridParam', { datatype: "json", url: _url }).trigger("reloadGrid");
        $("#RequestSearchDialog").modal("hide");
    }

    //function ReloadGrid() {
    //    _url = "/Warehouse/JsonWarehouseRequests?Keyword=&StartDate=&EndDate=&RequestKeyword=";
    //    $('#WHRequestGrid').jqGrid('setGridParam', { datatype: 'json', url: _url }).trigger("reloadGrid");
    //}
</script>