@{
    ViewBag.Title = "项目计划";
}
@section Headerjs{
    <script>
        var YJHEditedCellList=[];
    </script>
}
@{
    int DeptID;
    int PosID;
    //string UserName;
    try
    {
        DeptID = Convert.ToInt32(Request.Cookies["User"]["Department"]);
    }
    catch
    {
        DeptID = 0;
    }

    try
    {
        PosID = Convert.ToInt32(Request.Cookies["User"]["Position"]);
    }
    catch
    {
        
    }
}
<style>
    tr:nth-child(even){background-color:#ffffff;}
    #ProjectGrid p{
        width:100%;
        line-height:30px;
        text-align:center;
        margin:0px;
        padding:0px;
        float:left;
        font-size:12px;
        margin-top:0px!important;
        /*padding:100%!important;*/
        /*font-weight:bold;*/
        color:rgba(0,0,0,1);
        /*line-height:100%!important;*/
        float:left!important;
    }
    #ProjectGrid label{
        font-weight:normal!important;
    }
    #ProjectGrid td {
        margin:0px!important;
        padding:0px!important;
        height:30px;
        text-align:center;
        vertical-align:middle;
        font-size:12px;
        /*position:absolute;*/
    }
    #ProjectGrid input{
        height:24px;
        border-style:none;
        outline:none;
        font-size:12px;
        margin:0px;
        padding:0px;
    }
    #modal_tb_ProJFiles td {
            text-align: center;
            /*height:60px!important;*/
            padding: 0px !important;
        }
    /*.qrtb td{
        font-size:5px!important;
        height:10px!important;
    }*/

</style>

<div style="margin-top:60px">
    <div class="col-sm-12">
        @*<button style="position:absolute;top:0;bottom:0px;"></button>*@
        @*<table style="padding:0px;margin:0px;height:30px;font-size:5px;"><tr><td style="padding:0px;"><label style="margin:0px;">1</label></td></tr><tr><td style="padding:0px;"><label style="margin:0px;">2</label></td></tr><tr><td style="padding:0px;"><label style="margin:0px;">3</label></td></tr></table>*@
        @*<label style="margin:0px;font-size:5px;">4</label>
        <label style="margin:0px;font-size:5px;">5</label><br />
        <label style="margin:0px;font-size:5px;">6</label><br />*@
        @*<button id='123' class='attachbtn btn btn-success' style='width: 100px; height: 24px; text-align:center;padding:0px; margin:0px;' onclick='ShowProjectFile()'><span class='glyphicon glyphicon-paperclip'></span>  附件(5)</button>*@
        <table>
            <tr>
                <td>
                    <ul class="nav nav-pills">
                        @if (DeptID == 2)
            {
                            <li><button class="btn btn-success" id="CreateProject"><span class="glyphicon glyphicon-plus-sign"></span> 创建项目</button></li>
                        }
                        <li style="float: right;"><button class="btn btn-primary" id="YJHCellSave" disabled><span class="glyphicon glyphicon-pencil"></span> 保存计划 </button></li>
                        <li><button class="btn btn-default" id="SearchProject"><span class="glyphicon glyphicon-search"></span> 查找项目</button></li>

                        @if (ViewBag.Type == 1)
            {
                            <li><button class="btn btn-default" id="FixMoldProject"><span class="glyphicon glyphicon-wrench"></span> 修模项目 </button></li>
                        }
                        else if (ViewBag.Type == 2)
                        {
                            <li><button class="btn btn-default" id="MoldProject"><span class="glyphicon glyphicon-tower"></span> 新模项目 </button></li>
                        }
                    </ul>
                    <table id="ProjectGrid"></table>
                    <div id="jqGridPager"></div>
                    <input id="_oldPhaseID" hidden />
                    <input id="_oldPhaseCFDate" hidden />
                </td>
            </tr>
        </table>
        
    </div>
</div>

@*右键菜单*@
<div class="contextMenu dropdown" id="ProjectContextMenu" style="display:none">
    <ul style="width:200px">
        @if (DeptID == 2)//Management Department User only
        {
            <li id="AddProject">
                <img src="~/Images/EditProject.png" />
                <span style="font-size:12px; font-family:Verdana">新模具项目</span>
            </li>
            <li id="EditProject">
                <img src="~/Images/EditProject.png" />
                <span style="font-size:12px; font-family:Verdana">编辑项目</span>
            </li>
            <li id="PauseProject">
                <img src="~/Images/EditProject.png" />
                <span style="font-size:12px; font-family:Verdana">启动/暂停项目</span>
            </li>
            
            <li id="DeleteProject">
                <img src="~/Images/EditProject.png" />
                <span style="font-size:12px; font-family:Verdana">删除项目</span>
            </li>
        }
        @if (DeptID == 1)
        {
            <li id="EditProject">
                <img src="~/Images/EditProject.png" />
                <span style="font-size:12px; font-family:Verdana">编辑项目</span>
            </li>
            <li id="DeleteProject">
                <img src="~/Images/EditProject.png" />
                <span style="font-size:12px; font-family:Verdana">删除项目</span>
            </li>
        }
        @if (DeptID == 3)
        {
            <li id="MoldFixProject">
                <img src="~/Images/EditProject.png" />
                <span style="font-size:12px; font-family:Verdana">新修模项目</span>
            </li>
        }
                 
        <li id="AddMemo">
            <img src="~/Images/memo.png" />
            <span style="font-size:12px; font-family:Verdana">修改备注</span>
        </li>
        <li id="ProjectHistory">
            <img src="~/Images/ProjectSchedule.png" />
            <span style="font-size:12px; font-family:Verdana">项目历史</span>
        </li>

    </ul>
</div>

<input type="hidden" id="selPhase" />

@*项目备注*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="ProjectMemo" tabindex="-1" role="dialog" aria-labelledby="ProjectMemoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="ProjectMemoLabel">项目备注</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Memo", "Project", FormMethod.Post, new { id = "MemoEdit" }))
                {
                    <input type="hidden" id="MemoProject" name="MemoProject" />
                    <textarea id="Memo" name="Memo" class="form-control" rows="5" maxlength="100" style="resize:none"></textarea>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="SaveMemo" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

@*计划调整对话框*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="ModifyMilestone" tabindex="-1" role="dialog" aria-labelledby="ModifyMilestoneLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="ModifyMilestoneLabel">项目计划调整</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ModifyPhase", "Project", FormMethod.Post, new { id = "PhaseModify" }))
                {
                    <input type="hidden" id="ProjectID" name="ProjectID" />
                    <input type="hidden" id="UserName" name="UserName" value="" />
                    <table class="table-striped  colsm-12">
                        <tr>
                            <td class="col-sm-4"><label>项目阶段</label></td>
                            <td class="col-sm-8">
                                <select id="PhaseID" name="PhaseID" class="form-control"></select>
                            </td>
                        </tr>
                        @if (ViewBag.Type == 1)
                        {
                            <tr id="MainRow">
                                <td class="col-sm-4"><label>主项目完成日期</label></td>
                                <td class="col-sm-8"><input type="date" id="MainFinish" class="form-control" disabled /></td>
                            </tr>
                        }
                        <tr>
                            <td class="col-sm-4"><label>原计划完成日期</label></td>
                            <td class="col-sm-8"><input type="date" id="PlanFinish" name="PlanFinish" class="form-control"  readonly/></td>
                        </tr>
                        <tr>
                            <td class="col-sm-4"><label>调整后完成日期</label></td>
                            <td class="col-sm-8">
                                <input type="date" id="PlanCFinish" name="PlanCFinish" class="form-control required" />
                            </td>
                        </tr>                       
                        <tr>
                            <td class="col-sm-4"><label>调整原因</label></td>
                            <td class="col-sm-8">
                                <select id="Reason" name="Reason" class="form-control"></select>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-sm-4"><label>原因详细描述</label></td>
                            <td class="col-sm-8">
                                <textarea id="Description" name="Description" class="form-control" style="resize: none" rows="3" maxlength="50"></textarea>
                            </td>
                        </tr>
                    </table>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="SavePhaseModify" class="btn btn-primary">保存</button>
                
            </div>
        </div>
    </div>
</div>

@*项目阶段完成*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="FinishPhaseDialog" tabindex="-1" role="dialog" aria-labelledby="FinishPhaseLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="FinishPhaseLabel">项目阶段结束</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="FinishPhaseIDOriginal" />
                @using (Html.BeginForm("ModifyPhase", "Project", FormMethod.Post, new { id = "FinishPhaseForm" }))
                {
                    <input type="hidden" id="FinishProjectID" name="ProjectID" />
                    <input type="hidden" id="UserName" name="UserName" value="" />
                    <table class="table-striped  colsm-12">
                        <tr>
                            <td class="col-sm-4"><label>项目阶段</label></td>
                            <td class="col-sm-8">
                                <select id="FinishPhaseID" name="PhaseID" class="form-control" readonly></select>
                            </td>
                        </tr>
                    </table>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="FinishPhaseModify" class="btn btn-primary">结束</button>

            </div>
        </div>
    </div>
</div>

@*项目暂停/继续*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="PauseProjectDialog" tabindex="-1" role="dialog" aria-labelledby="PauseProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="PauseProjectLabel">项目暂停</h4>
            </div>
            <div class="modal-body">
                <h4>备注信息</h4>
                <input type="hidden" id="PauseProjectID" />
                <input type="hidden" id="ParentID" />
                <textarea id="PauseMemo" class="form-control" rows="5" style="resize:none" maxlength="100"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="PauseProjectBtn" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

@*项目删除*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="DeleteProjectDialog" tabindex="-1" role="dialog" aria-labelledby="DeleteProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="DeleteProjectLabel">项目删除</h4>
            </div>
            <div class="modal-body">
                <h4>备注信息</h4>
                <input type="hidden" id="DeleteProjectID" />
                <textarea id="DeleteMemo" class="form-control" rows="5" style="resize:none"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="DeleteProjectBtn" class="btn btn-primary">确认删除</button>
            </div>
        </div>
    </div>
</div>

@*项目关键字筛选*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="ProjectSearchDialog" tabindex="-1" role="dialog" aria-labelledby="ProjectSearchLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="ProjectSearchLabel">项目查询</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td class="col-sm-2"><label>项目号/模具号关键字</label></td>
                        <td class="col-sm-4">
                            <input type="text" class="form-control" id="keyword" />
                            <input type="hidden" id="state" value="@ViewBag.State" />
                            <input type="hidden" id="Type" value="@ViewBag.Type"/>
                        </td>
                        
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" id="ProjectSearchBtn" class="btn btn-primary">查询</button>
            </div>
        </div>
    </div>
</div>

@*项目文件路径输入*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="ProjectFileDialog" tabindex="-1" role="dialog" aria-labelledby="ProjectFileLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="ProjectFileLabel">项目文件</h4>
            </div>
            <div class="modal-body">
                <form id="modal_ProJAttachForm" name="modal_ProJAttachForm" method="post" enctype="multipart/form-data">
                    <div id="modal_fileInputGroup" class="input-group">
                        <input id="ObjID" name="ObjID" hidden/>
                        <input id="ObjType" name="ObjType" value="Projects" hidden/>
                        <input id="Files" name="Files" type="file"  class="form-control" placeholder="选择文件..." multiple="multiple" >
                        <span class="input-group-btn">
                            <button id="modal_ProJAttachSubmitbtn" class="btn btn-warning" type="button" style="width: 72px;"><span class="glyphicon glyphicon-upload"></span> 提交</button>
                        </span>
                    </div>
                    <table id="modal_tb_ProJFiles"></table>
                </form>
            </div>
            <div class="modal-footer">
                <button id="modal_close_ProJFiles" type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>

@*项目历史*@
<div class="modal" data-backdrop="static" data-keyboard="false" id="ProjectHistoryDialog" tabindex="-1" role="dialog" aria-labelledby="ProjectHistoryLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="ProjectHistoryLable">项目历史</h4>
            </div>
            <div class="modal-body">
                <select id="ProjectLog" class="form-control" size="20"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>

@*阶段任务显示*@
<div class="modal"  data-backdrop="static" data-keyboard="false" id="PhaseTaskDialog" tabindex="-1" role="dialog" aria-labelledby="PhaseTaskLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="PhaseTaskLabel">加工任务</h4>
            </div>*@
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <ul id="PhaseTaskmodal_tabs" class="nav nav-tabs"></ul>
                
                <select id="MoldNumber" class="form-control"></select>

                <input type="hidden" id="TaskType" />
                <input type="hidden" id="State" />@*hidden*@
                <table id="TaskGrid"></table>
                <table id="PurchaseItemGrid"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                @*<button type="button" id="PauseProjectBtn" class="btn btn-primary">确定</button>*@
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.contextmenu.r2.packed.js"></script>
<script src="~/Scripts/Project.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        ////原计划
        var YJHEditedCellList1 = [];

        GetPhases("PhaseID", @ViewBag.Type);
        GetPhases("FinishPhaseID", @ViewBag.Type);


        ProjectGrid("@ViewBag.Keyword", @ViewBag.State, @ViewBag.Type,@DeptID,YJHEditedCellList);

        TaskList("", 0, 0, 1);//任务列表
        $("#TaskGrid").setGridWidth('740');
        PurchaseItem('','',0,0,true);//采购列表
        $("#PurchaseItemGrid").setGridWidth('740');

        @if (ViewBag.Type == 1)
        {
            @:$("#ProjectGrid").setGridParam().showHideCol("ProjectNo");
            @:$("#ProjectGrid").setGridParam().setLabel('FOT', 'FOT','','');
        }

        $("#ProjectGrid").setGridWidth(document.body.clientWidth*0.98);

        $("#SavePhaseModify").on("click", function () {
            if (ValidateForm("PhaseModify")) {

                @if (ViewBag.Type == 1)
                {
                @:if ($("#PlanCFinish").val() != $("#PlanFinish").val()) {
                                    @:if ($("#PlanCFinish").hasClass("invalidefield")) {
                                        @:    alert("模具项目阶段完成时间不能晚于主项目");
                                        @:}
                                        @:else {
                                        @:    $("#PhaseModify").submit();
                                        @:}
                                    @:} else {
                                    @:    alert("调整后完成日期和原计划完成日期不能相同");
                                    @:}
                                }
                else if (ViewBag.Type == 2)
                {
                @:var _url = "/Project/CheckFixMoldPhase?ProjectID="+$("#ProjectID").val()+"&PhaseID="+$("#PhaseID").val()+"&PlanCFinish="+$("#PlanCFinish").val();
                                @:$.ajax({
                                    @:  url:_url,
                                    @:  type:"Get",
                                    @:  success:function(msg){
                                        @:    if (msg==""){
                                            @:      $("#PhaseModify").submit();
                                            @:    }else{
                                            @:      alert(msg);
                                            @:  }
                                        @:  }
                                    @:})
                                }
            }
        });
        $('#MoldNumber').on('change',function(){
            var _tasktype=$('#TaskType').val();
            if(_tasktype==200){//采购阶段
                ReloadPurchaseItemGrid();
            }
            else{
                ReloadTaskGrid();
            }
        });
        $('#YJHCellSave').on('click',function(){
            var firsttdobj= $('#ProjectGrid td:eq(24)');//第一行 原计划单元格
            //模拟单元格点击事件
            firsttdobj.trigger("click");

            var listLength=YJHEditedCellList.length;
            //alert(listLength);
            var listLength1=YJHEditedCellList1.length;
            if(listLength!=listLength1){
                var num=listLength-listLength1;
                var _result=0;
                for(var j=0;j<num;j++){
                    var seri=listLength-num+j;
                    _result=_result+CellEdit_ModifyProJPhase(YJHEditedCellList[seri].projID,YJHEditedCellList[seri].phaseID,YJHEditedCellList[seri].cellvalue,YJHEditedCellList[seri].celltype);
                    YJHEditedCellList1[seri]=YJHEditedCellList[seri];
                }
                if(_result>0)
                    alert('部分结果保存失败！');
                else{
                    ReloadProJGrid();
                    alert('保存成功！');
                    $('#YJHCellSave').attr('disabled',true);
                }
            }
        });
    })

    //重载任务列表
    function ReloadTaskGrid(){
        var _url = "/Task/JsonMachineTasks?MoldNumber=" + $("#MoldNumber").val() + "&TaskType="+$("#TaskType").val()+"&State="+$("#State").val();
        $("#TaskGrid").jqGrid('setGridParam', { datatype: "json", url: _url }).trigger("reloadGrid");
    }
    //重载采购列表
    function ReloadPurchaseItemGrid(){
        var _url = "/Purchase/JsonPurchaseItemsGrids?MoldNumber=" + $("#MoldNumber").val() +"&State="+$("#State").val();
        $("#PurchaseItemGrid").jqGrid('setGridParam', { datatype: "json", url: _url }).trigger("reloadGrid");
    }

    //初始化阶段任务列表及相关参数
    function ShowTaskPhase(projectid,phaseid){
        var _moldNo='';
        var _taskType;
        var isOpen=false;
        $.ajaxSettings.async = false;//同步请求
        $.get('/Project/Service_GetMoldNoByProID?projectid='+projectid,function(res){
            _moldNo=res;
            if(res!=null){
                $('#MoldNumber').empty();
                res=res.split(',');
                $.each(res, function (i, n) {
                    $("#MoldNumber").append($("<option/>", {
                        value: n,
                        text: n
                    }))
                })
            }
            else//无模具项目
                return;
        })
        $.get('/Project/Service_GetTaskTypeByPhaseID?phaseid='+phaseid,function(res){
            if(res.length>0){
                isOpen=true;
                $('#PhaseTaskmodal_tabs').empty();
                $('#PhaseTaskmodal_pills').empty();
            }else
                return;//无对应加工任务类型
            $.each(res, function(i,n){
                if(_moldNo!='' && isOpen){
                    if(i==0){
                        var tabshtml='<li id="'+n.ShortName+'_'+n.TaskID+'" role="presentation" class="tasktype active" onclick="PhaseTaskmodal_tabs_Click(this)"><a href="#">'+n.Name+'</a></li>';
                        $('#PhaseTaskmodal_tabs').append(tabshtml);
                        $('#TaskType').val(n.TaskID);
                    }
                    else{
                        var tabshtml='<li id="'+n.ShortName+'_'+n.TaskID+'" role="presentation" class="tasktype" onclick="PhaseTaskmodal_tabs_Click(this)"><a href="#">'+n.Name+'</a></li>';
                        $('#PhaseTaskmodal_tabs').append(tabshtml);
                    }
                    //在最后添加
                    if(i==res.length-1){
                        var pillhtml='<li id="PhaseTaskmodal_pills_now" role="presentation" class="state active" style="float: right;" onclick="PhaseTaskmodal_tabs_Click(this)"><a href="#">进行中任务</a></li>';
                        pillhtml+='<li id="PhaseTaskmodal_pills_his" role="presentation" class="state" style="float: right;" onclick="PhaseTaskmodal_tabs_Click(this)"><a href="#">已完成任务</a></li>';
                        pillhtml+='<li id="PhaseTaskmodal_pills_pr" role="presentation" class="state" style="float: right; display:none;" onclick="PhaseTaskmodal_tabs_Click(this)"><a href="#">未开始任务</a></li>';
                        $('#PhaseTaskmodal_tabs').append(pillhtml);
                        $("#State").val(0);
                        _bulidTaskTable();
                        if(phaseid==3){//采购阶段
                            $('#PhaseTaskmodal_pills_pr').show();
                            ReloadPurchaseItemGrid();
                        }
                        else{
                            $('#PhaseTaskmodal_pills_pr').hide();
                            ReloadTaskGrid();
                        }
                        //var _url = '/Task/JsonMachineTasks?MoldNumber=' + _moldNo + '&TaskType='+n.TaskID+'&State=0';//当前
                        //$("#TaskGrid").jqGrid('setGridParam', { datatype: "json", url: _url }).trigger("reloadGrid");
                        $('#PhaseTaskDialog').modal('show');
                    }
                }
            })
        })
    }
    //tab按钮点击
    function PhaseTaskmodal_tabs_Click(e){
        //alert(e.id);
        var righttabs=['PhaseTaskmodal_pills_now','PhaseTaskmodal_pills_his','PhaseTaskmodal_pills_pr'];
        var _tasktype;
        ////调整任务类型
        if(righttabs.indexOf(e.id)<0){
            _tasktype=(e.id).split('_')[1];
            $("#TaskType").val(_tasktype);
            $('#PhaseTaskmodal_tabs li.tasktype.active').removeClass('active');
            $(e).attr('class', 'tasktype active');
        }
        ////调整状态
        else{
            _tasktype=$("#TaskType").val();
            if(e.id=='PhaseTaskmodal_pills_now'){
                $("#State").val(0);//当前采购项
            }
            else if(e.id=='PhaseTaskmodal_pills_his'){
                $("#State").val(1);//历史采购项
            }
            else if(e.id='PhaseTaskmodal_pills_pr'){
                $("#State").val(-99);//PR
            }
            $('#PhaseTaskmodal_tabs li.state.active').removeClass('active');
            $(e).attr('class', 'state active');
        }
        _bulidTaskTable();//调整列表列头
        if(_tasktype==200){
            ReloadPurchaseItemGrid();
        }else{
            ReloadTaskGrid();
        }
    }
    //初始化任务列表       $('#gbox_TaskGrid').hide();PurchaseItemGrid
    function _bulidTaskTable(){
        var _tasktype=$("#TaskType").val();
        var _state=$("#State").val();
        ////非采购阶段
        if(Number(_tasktype)!=200){
            $('#gbox_TaskGrid').show();
            $('#gbox_PurchaseItemGrid').hide();
            //隐藏所有列
            var colModel = $("#TaskGrid").jqGrid('getGridParam', 'colModel');//列名
            for(var z=0;z<colModel.length;z++){
                var colname= colModel[z].name;
                $("#TaskGrid").jqGrid( 'hideCol', colname);
            }
            /////重载列头
            $("#TaskGrid").setGridParam().showHideCol("DrawingFile");
            $("#TaskGrid").setGridParam().showHideCol("TaskName");
            $("#TaskGrid").setGridParam().showHideCol("Version");
            $("#TaskGrid").setGridParam().showHideCol("Memo");

            $("#TaskGrid").setGridParam().showHideCol("Time");
            $("#TaskGrid").setGridParam().showHideCol("Priority");            
            $("#TaskGrid").setGridParam().showHideCol("StateMemo");
            $("#TaskGrid").setGridParam().showHideCol("State");
            $("#TaskGrid").setGridParam().showHideCol("CreateTime");
            $("#TaskGrid").setGridParam().showHideCol("PlanTime");
            $("#TaskGrid").setGridParam().showHideCol("AcceptTime");
            $("#TaskGrid").setGridParam().showHideCol("StartTime");
            switch(Number(_tasktype)){
                case 1:
                    $("#TaskGrid").setGridParam().showHideCol("Material");
                    $("#TaskGrid").setGridParam().showHideCol("R");
                    $("#TaskGrid").setGridParam().showHideCol("F");
                    $("#TaskGrid").setGridParam().showHideCol("Raw");
                    $("#TaskGrid").setGridParam().showHideCol("QCPoints");
                    break;
                case 2:
                    $("#TaskGrid").setGridParam().showHideCol("Quantity");
                    break;
                case 3:
                    $("#TaskGrid").setGridParam().showHideCol("Quantity");
                    $("#TaskGrid").setGridParam().showHideCol("CADPartName");
                    $("#TaskGrid").setGridParam().showHideCol("Preciston");
                    break;
                case 4:
                    $("#TaskGrid").setGridParam().showHideCol("Quantity");
                    $("#TaskGrid").setGridParam().showHideCol("ProcessName");
                    break;
                case 6:
                    $("#TaskGrid").setGridParam().showHideCol("Quantity");
                    $("#TaskGrid").setGridParam().showHideCol("CADPartName");
                    $("#TaskGrid").setGridParam().showHideCol("Material");
                    $("#TaskGrid").setGridParam().showHideCol("HRC");
                    $("#TaskGrid").setGridParam().showHideCol("ProcessName");//工艺
                    break;
            }
            //加工(历史)界面显示隐藏列
            if (_state==1){
                var _tasktype=$("#TaskType").val();
                $("#TaskGrid").setGridParam().showHideCol("ActualTime");
                $("#TaskGrid").setGridParam().showHideCol("Operater");
                $("#TaskGrid").setGridParam().showHideCol("Machine");
                $("#TaskGrid").setGridParam().showHideCol("FinishTime");
                if ((_tasktype==1)||(_tasktype==2)){
                    $("#TaskGrid").setGridParam().showHideCol("Surface");
                    $("#TaskGrid").setGridParam().showHideCol("Obit");
                    $("#TaskGrid").setGridParam().showHideCol("ELEPos");
                }
                else if(_tasktype==3){
                    $("#TaskGrid").setGridParam().showHideCol("Preciston");
                    $("#TaskGrid").setGridParam().showHideCol("CADPartName");
                }
                else if(_tasktype==6){
                    $("#TaskGrid").setGridParam().showHideCol("CADPartName");
                }
            }
            ///////
        }
        ////采购阶段
        else{
            $('#gbox_TaskGrid').hide();
            $('#gbox_PurchaseItemGrid').show();
            //隐藏所有列
            var colModel = $("#PurchaseItemGrid").jqGrid('getGridParam', 'colModel');//列名
            for(var z=0;z<colModel.length;z++){
                var colname= colModel[z].name;
                $("#PurchaseItemGrid").jqGrid( 'hideCol', colname);
            }

            $("#PurchaseItemGrid").setGridParam().showHideCol("Supplier");
            $("#PurchaseItemGrid").setGridParam().showHideCol("Name");
            $("#PurchaseItemGrid").setGridParam().showHideCol("PartNumber");
            $("#PurchaseItemGrid").setGridParam().showHideCol("Specification");
            $("#PurchaseItemGrid").setGridParam().showHideCol("Quantity");
            $("#PurchaseItemGrid").setGridParam().showHideCol("State");
            $("#PurchaseItemGrid").setGridParam().showHideCol("PurchaseType");

            if(_state==0){//采购订单 当前
                $("#PurchaseItemGrid").setGridParam().showHideCol("PurchaseOrder");
                $("#PurchaseItemGrid").setGridParam().showHideCol("InStockQty");
                $("#PurchaseItemGrid").setGridParam().showHideCol("OutStockQty");
                $("#PurchaseItemGrid").setGridParam().showHideCol("PlanDate");
            }else if(_state==1){//采购订单 历史
                $("#PurchaseItemGrid").setGridParam().showHideCol("PurchaseOrder");
                $("#PurchaseItemGrid").setGridParam().showHideCol("InStockQty");
                $("#PurchaseItemGrid").setGridParam().showHideCol("OutStockQty");
                $("#PurchaseItemGrid").setGridParam().showHideCol("DeliveryDate");
            }else if(_state==-99){//采购申请单
                $("#PurchaseItemGrid").setGridParam().showHideCol("ShipDate");
                $("#PurchaseItemGrid").setGridParam().showHideCol("PurchaseRequest");
                $("#PurchaseItemGrid").setGridParam().showHideCol("QuotationRequest");
            }
        }
    }
</script>

<script>
    $(document).ready(function(){
        AttachFiles();//初始化附件列表
        $("#modal_tb_ProJFiles").setGridWidth(658);

        $('#modal_ProJAttachSubmitbtn').on('click',function(){
            if ($('#Files').val() == '') {
                alert('请选择上传表单！');
                $('#Files').val('');
                return false;
            }
            $('#modal_ProJAttachForm').ajaxSubmit({
                url: '/Attachment/Service_FileUpload/',
                type: 'post',
                async:false,
                dataType: 'json',
                success: function (msg) {
                    if (msg.Code == 1) {
                        $('#Files').val("");
                        ReloadFileGrid($("#ObjID").val());
                    }
                    else
                        alert(msg.Message);
                }
            })
        })

        $('#modal_close_ProJFiles').on('click',function(){
            ReloadProJGrid();
        })

        $('#ProjectFileDialog').on('show.bs.modal',function() {
            $('#Files').val("");
            var _depList=[1,2,3,21,23];
            if(@DeptID in _depList){
                $('#modal_fileInputGroup').show();
            }else{
                $('#modal_fileInputGroup').hide();
            }
        })   
        
    })
    function ShowProjectFile(ProjectID) {
        $("#ObjID").val(ProjectID);
        $("#FileProjectID").val(ProjectID);
        $("#ProjectFileDialog").modal("show");
        ReloadFileGrid(ProjectID);
    }
    //重载列表
    function ReloadFileGrid(ProjectID){
        var _url = "/Attachment/Service_GetFilesByObj?ObjID=" + ProjectID +"&ObjType=Projects";
        $("#modal_tb_ProJFiles").jqGrid('setGridParam', { datatype: "json", url: _url }).trigger("reloadGrid");        
    }
    function DeleteAttach(ObjID,ObjType,FileName,FileType){
        $.ajaxSettings.async = false;//同步请求
        $.get('/Attachment/Service_DelAttach?ObjID='+ObjID+'&ObjType='+ObjType+'&FileName='+FileName+'&FileType='+FileType,function(res){
            if(res.Code==-1){
                alert('只允许上传附件本人删除！');
                return false;
            }
            else
                ReloadFileGrid(ObjID);           
        })
    }
    function ReloadProJGrid(){
        var _url = "/Project/JsonProjects?keyword=" + "@ViewBag.Keyword" + "&State=" + @ViewBag.State + "&Type=" + @ViewBag.Type + "&DepID=" + @DeptID;
        $("#ProjectGrid").jqGrid('setGridParam', { datatype: "json", url: _url }).trigger("reloadGrid");
    }
    function DownloadAttach(ObjID,ObjType,FileName,FileType){
        $.ajaxSettings.async = false;//同步请求
        $.get('/Attachment/Service_FileDownLoad?ObjID='+ObjID+'&ObjType='+ObjType+'&FileName='+FileName+'&FileType='+FileType)
    }
</script>